HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Personal ###
#src/main/java/pl/strefaserca/portal/config/WebMvcConfig.java
#src/main/java/pl/strefaserca/portal/service/ArticleService.java
#src/main/resources/application.properties
#src/main/resources/log4j2.xml
