<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/article_fragments.html :: headerfiles">
    <title>Dbajmy o serce!</title>
<body class="animsition">
<div th:replace="fragments/article_fragments.html :: topHeader"></div>
<div th:replace="fragments/article_fragments.html :: pageHeader"></div>
<!-- /.page header -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div class="content-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="post-holder mb40">
                                <div class="post-img mb30">
                                    <img alt="" class="img-responsive" src="images/main-img-dbajmy-o-serce.png" data-th-src="@{/images/main-img-dbajmy-o-serce.png}">
                                </div>
                                <div class="post-block">
                                    <div class="post-header mb20">
                                        <h1 class="post-title mb30">Dbajmy o serce!</h1>
                                        <div data-th-replace="fragments/article_fragments.html :: meta"></div>
                                    </div>
                                    <hr>
                                    <div class="post-content">
                                        <h2 class="mt30, mb30">1. Jakie są pierwsze objawy zawału? Z czym można pomylić
                                            objawy zawału? </h2>
                                        <p style="text-align: justify">Zadaję pytanie pacjentom, czemu nie przyjechał
                                            Pan wcześniej, a Oni się tłumaczą, Pani doktor, bo nie było tak jak na
                                            filmach, nie przewróciłem się z bólu i nie straciłem przytomności. W Polsce
                                            potrafimy leczyć zawały serca z bardzo dobrymi efektami, mamy dobrze
                                            rozwiniętą sieć ośrodków kardiologii inwazyjnej, ale nadal część pacjentów
                                            bagatelizuje objawy i zgłasza się do szpitala zbyt późno. Typowy obraz
                                            kliniczny zawału mięśnia sercowego to nagły, silny ból za mostkiem o
                                            charakterze gniecenia, ucisku lub pieczenia z towarzyszącym uczuciem lęku i
                                            niepokoju. Czasem ból może promieniować do lewego barku, ramienia, pleców,
                                            szyi i żuchwy. Jeśli zawałem objęty jest mniejszy obszar mięśnia sercowego
                                            objawy mogą być słabiej wyrażone, opisywane jako dyskomfort w klatce
                                            piersiowej. Zawał ściany dolnej może przebiegać pod maską objawów
                                            brzusznych, z nudnościami, wymiotami, opasającymi bólami w nadbrzuszu.
                                            Chorzy z wieloletnią cukrzycą czasami w ogóle nie odczuwają alarmujących
                                            objawów, wówczas pacjent jest blady, spocony i zgłasza nasilające się
                                            duszności.</p>
                                        <blockquote>
                                            <p>Chorzy z wieloletnią cukrzycą czasami w ogóle nie odczuwają alarmujących
                                                objawów, wówczas pacjent jest blady, spocony i zgłasza nasilające się
                                                duszności.</p>
                                        </blockquote>
                                        <h2 class="mt30, mb30">2. Jak wielu Polaków dotyka ten problem, jak wiele jest
                                            przypadków śmiertelnych?</h2>
                                        <p class="mb30" style="text-align: justify">Według danych przeanalizowanych
                                            przez Narodowy Instytut Zdrowia Publicznego – PZH, w 2015 roku 50 tys.
                                            pacjentów było leczonych w szpitalu z powodu zawału serca, to jest 26
                                            chorych na 10 000 mieszkańców. Połowa z nich to pacjenci poniżej 65 roku
                                            życia. Prawie jedna trzecia wszystkich hospitalizacji z powodu choroby
                                            wieńcowej była spowodowana zawałem serca. Według rejestru AMI-PL w
                                            oddziałach posiadających pracownię hemodynamiczną śmiertelność wyniosła 6
                                            procent. Ponaddwukrotnie wyższą śmiertelność obserwowano w przypadkach, w
                                            których nie było dostępu do leczenia inwazyjnego. Roczna śmiertelność po
                                            wypisaniu ze szpitala wynosi w Polsce ok. 10 proc., 3-letnia – 20
                                            procent. </p>
                                        <h2 class="mb30">3. Jak powinniśmy zareagować, gdy zauważymy u siebie lub kogoś
                                            bliskiego objawy zawału?</h2>
                                        <p style="text-align: justify">W przypadku podejrzenia zawału serca zawsze
                                            wzywamy zespół Pogotowia Ratunkowego. Chory nie może chodzić po domu i
                                            pakować się do szpitala. Powinien unikać wszelkiej aktywności fizycznej.
                                            Jakich błędów nie popełniać gdy zauważamy niepokojące objawy u kogoś
                                            bliskiego? </p>
                                        <blockquote>
                                            <p>Nie czekamy do następnego dnia, żeby skontaktować się ze swoim lekarzem
                                                prowadzącym. Pamiętajmy – liczy się każda minuta.</p>
                                        </blockquote>
                                        <p class="mb30" style="text-align: justify"> Nie czekamy do następnego dnia,
                                            żeby skontaktować się ze swoim lekarzem prowadzącym. Pamiętajmy – liczy się
                                            każda minuta. Nie jedziemy własnym transportem do szpitala. W trakcie drogi
                                            na Izbę Przyjęć w okresie okołozawałowym mogą wystąpić groźne dla życia
                                            zaburzenia rytmu, które mogą być rozpoznane i leczone tylko przez personel
                                            medyczny. Staramy się przygotować dokumentację medyczną oraz zażywane
                                            lekarstwa.</p>
                                        <h2 class="mb30"> 4. Jakich "słabszych" sygnałów ze strony serca nie należy
                                            ignorować? Jakie symptomy mogą dawać choroby serca na początku swojego
                                            rozwoju?</h2>
                                        <p class="mb30" style="text-align: justify"> Największą satysfakcję w leczeniu
                                            sprawia nam, gdy udaje się zapobiec wystąpieniu zawałowi serca. Niemniej tu
                                            przydaje się dobra komunikacja lekarz-pacjent. Nie każdy zawał można
                                            przewidzieć, ale należy zwrócić szczególną uwagę na pojawianie się
                                            dolegliwości o charakterze dyskomfortu w klatce piersiowej związanego
                                            bezpośrednio z wysiłkiem fizycznym oraz zmniejszoną tolerancję wysiłku.
                                            Takie sygnały ostrzegawcze czasem wyprzedzają zawał zaledwie o kilka dni. Im
                                            bardzie jesteśmy aktywni, tym szybciej nasz organizm będzie miał szansę nas
                                            ostrzec.</p>
                                        <h2 class="mb30"> 5. Jak dbać o serce, aby służyło nam jak najdłużej?</h2>
                                        <blockquote>
                                            <p>Przede wszystkim powinniśmy przestać palić papierosy, zdrowo się
                                                odżywiać, prowadzić aktywny tryb życia, kontrolować ciśnienie tętnicze
                                                oraz przestrzegać zaleceń lekarskich odnośnie do przyjmowanych leków i
                                                kontrolnych badań.</p>
                                        </blockquote>
                                        <p class="mb30" style="text-align: justify"> Nie mamy wpływu na nasze geny,
                                            które są odpowiedzialne za predyspozycję do zapadania na choroby układu
                                            krążenia, ale powinniśmy dbać o nasze zdrowie, dzięki temu możemy istotnie
                                            wpłynąć na zmniejszenie ryzyka choroby wieńcowej. Przede wszystkim
                                            powinniśmy przestać palić papierosy, zdrowo się odżywiać, prowadzić aktywny
                                            tryb życia, kontrolować ciśnienie tętnicze oraz przestrzegać zaleceń
                                            lekarskich odnośnie do przyjmowanych leków i kontrolnych badań.</p>
                                        <h2 class="mb30"> 6. Działania profilaktyczne zmierzające do uchronienia się
                                            przed chorobami układu krążenia.</h2>
                                        <p style="text-align: justify">Nowe technologie z zakresu telemedycyny wychodzą
                                            naprzeciw potrzebom pacjentów, pomagają w diagnostyce i uzyskaniu szybkiej
                                            pomocy medycznej. Dostępne są aplikacje na smartfony, w których możemy
                                            ustawić przypomnienie o zażyciu leku, zapisywać pomiary ciśnienia
                                            tętniczego, tętna a nawet wykonać zapis ekg. W trakcie projektowania są
                                            aplikacje służące do telekonsultacji ze swoim lekarzem prowadzącym
                                            /drWidget/. W Oddziale, w którym pracuje /X Oddział Kardiologii Inwazyjnej,
                                            Elektrofizjologii i Elektrostymulacji Polsko-Amerykańskich Klinik Serca w
                                            Tychach/ od kilku lat funkcjonuje Centrum Monitorowania Serca. Pacjenci
                                            otrzymują w ramach abonamentu do domu mały i prosty w obsłudze aparat
                                            służący do samodzielnego wykonania i przesłania EKG. Chory ma możliwość
                                            skontrolowania swojego stanu zdrowia bez wychodzenia z domu, z dowolnego
                                            miejsca w którym się akurat znajduje. Zespół ratowników i lekarzy pełniących
                                            całodobowy dyżur ma możliwość skonsultowania pacjenta, zalecić dalsze
                                            postępowanie, a czasem nawet zadysponować wyjazd Pogotowia. </p>
                                        <blockquote>
                                            <p>Chorzy po zawale serca są objęci programem wczesnej rehabilitacji
                                                kardiologicznej refundowanej w ramach umowy z NFZ, której w skład
                                                wchodzą: fizykoterapia, zajęcia edukacyjne, interwencje psychospołeczne
                                                ukierunkowane na profilaktykę chorób układu krążenia, wtórną prewencję i
                                                rehabilitację (KOS).</p>
                                        </blockquote>
                                        <p class="mb30">Prowadzi się wiele działań z zakresu profilaktyki przez
                                            chorobami krążenia. Jeden z głównych celów określonych w Narodowym Programie
                                            Zdrowia na lata 2016-2020 obejmuje "Poprawę sposobu żywienia, stanu
                                            odżywienia oraz aktywności fizycznej społeczeństwa". Zawierają się w nim
                                            między innymi działania prowadzące do zwiększenia dostępności zdrowych
                                            produktów żywieniowych, ograniczenie presji reklamowej "śmieciowego
                                            jedzenia", promowanie kultury fizycznej między innymi poprzez tworzenie
                                            ścieżek rowerowych, działania z zakresu edukacji i wsparcia dla osób
                                            otyłych.</p>
                                        <img alt="" src="images/dbajmy-o-serce-1.jpg" data-th-src="@{/images/dbajmy-o-serce-1.jpg}" class="alignright img-responsive">
                                        <p class="mb30">Aby uświadamiać pacjentów przed szkodliwością palenia papierosów
                                            Komisja Europejska wprowadziła dyrektywę, nakazującą umieszczanie
                                            drastycznych zdjęć i ostrzeżeń na wszystkich wyrobach tytoniowych w krajach
                                            Unii Europejskiej.</p>
                                        <p style="text-align: justify">W porównaniu z latami ubiegłymi liczba
                                            hospitalizacji z powodu zawału serca spadła o ponad 1/3. Czy oznacza to, że
                                            nasza świadomość w kwestii własnego zdrowia jest coraz większa? W internecie
                                            znajdziemy portale przygotowane przez specjalistów Polskiego Towarzystwa
                                            Kardiologicznego, gdzie można znaleźć odpowiedzi na nurtujące nas pytania.
                                            Często w gabinecie lekarskim wstydzimy się pytać, a czasem brakuje czasu na
                                            spokojną rozmowę.</p>
                                        <a style="color: #1b6d85" data-th-href="@{'/article/redirect?name=' + 'www.copozawale.pl'}">Co po zawale</a><br>
                                        <a style="color: #1b6d85" data-th-href="@{'/article/redirect?name=' + 'www.arytmiagroziudarem.pl'}">Arytmia grozi udarem</a><br>
                                        <a style="color: #1b6d85" data-th-href="@{'/article/redirect?name=' + 'www.slabeserce.pl'}">Słabe serce</a><br>
                                        <hr>
                                        <div data-th-replace="fragments/article_fragments.html :: previousNext"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/article_fragments.html :: footer"></div>
</body>
</html>
