<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/article_fragments.html :: headerfiles">
    <title>Mam wszczepiony kardiowerter-defibrylator. Jak zmieni się moje życie?</title>
</head>
<body class="animsition">
<div th:replace="fragments/article_fragments.html :: topHeader"></div>
<div th:replace="fragments/article_fragments.html :: pageHeader"></div>
<!-- /.page header -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div class="content-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="post-holder mb40">
                                <div class="post-img mb30">
                                    <img alt="" src="images/main-img-kardiowerter.jpg" data-th-src="@{/images/main-img-kardiowerter.jpg}">
                                </div>
                                <div class="post-block">
                                    <div class="post-header mb20">
                                        <h1 class="post-title mb30">Mam wszczepiony kardiowerter-defibrylator. Jak
                                            zmieni się moje życie?</h1>
                                        <div data-th-replace="fragments/article_fragments.html :: meta"></div>
                                    </div>
                                    <hr>
                                    <div class="post-content">
                                        <p class="mt30" style="text-align: justify">Jesteś już po zabiegu wszczepienia
                                            kardiowertera-defibrylatora i zastanawiasz się jak od tej chwili zmieni się
                                            Twoje życie? Zadajesz sobie pytania czy będziesz bezpieczny w domu, czy
                                            będziesz mógł dalej pracować? Nie jest wcale tak łatwo odpowiedzieć na te
                                            pytania. Pacjenci ze wszczepionymi kardiowerterami-defibrylatorami (ICD)
                                            oraz urządzeniami resynchronizującymi (CRT-D) muszą wykazać się o wiele
                                            większą rozwagą, ponieważ konsekwencje ich działania mogą być o wiele
                                            poważniejsze niż lekkomyślność pacjentów z rozrusznikiem serca.
                                            Nieprawidłowe zachowania mogą spowodować nieadekwatne wysokoenergetyczne
                                            terapie („szoki”, wyładowania). Może dojść również do zablokowania
                                            wykrywania arytmii, w takiej sytuacji pomimo pojawienia się groźnych dla
                                            pacjenta zaburzeń rytmu, urządzenie nie zadziała. </p>
                                        <blockquote>
                                            <p>Nieprawidłowe zachowania mogą spowodować nieadekwatne wysokoenergetyczne
                                                terapie („szoki”, wyładowania).</p>
                                        </blockquote>
                                        <p class="mb30" style="text-align: justify">Urządzenia wszczepiane u pacjentów z
                                            niewydolnością serca posiadają przełącznik magnetyczny, powoduje on, że po
                                            przyłożeniu magnesu stałego (neodymowego) bezpośrednio nad urządzenie nie
                                            będzie ono leczyło arytmii. Funkcja ta znajduje zastosowania w praktyce
                                            klinicznej, jednakże pacjent również musi zachować czujność. Nie należy w
                                            trakcie słuchania muzyki przez słuchawki odkładać ich sobie na szyję, ta
                                            zasada dotyczy również małych słuchawek wkładanych do ucha. Po zakończeniu
                                            słuchania muzyki słuchawki powinniśmy odłożyć na półkę. Wybierając
                                            biżuterię, unikajmy kolii zapinanych na zatrzask magnetyczny. Uważajmy na
                                            identyfikatory zapinane na magnes, które przypinamy do fartucha, zapięcia w
                                            torebkach oraz na magnesy, które znajdują się na naszej lodówce. Pamiętajmy,
                                            że w tylnej części głośników znajdują się magnesy i nie przytulajmy się do
                                            głośników. Jeśli musimy przenieść kolumnę, poprośmy kogoś o pomoc. Magnesy
                                            możemy znaleźć w zabawkach dla dzieci, zamkach magnetycznych w szafkach, w
                                            wykrywaczach metalu. Pole magnetyczne, może zostać wytworzone również przez
                                            pojazdy o napędzie akumulatorowym – bezpieczna odległość to ok. 1 metr.
                                            Zatem takim wózkiem możemy się poruszać, ale nie powinniśmy brać się za jego
                                            naprawę. Głośniki estradowe również mogą stanowić zagrożenie, gdy będziemy
                                            za blisko nich stali (min. odległość to ok. 15cm.) Podsumowując, jeśli
                                            zadziałamy magnesem stałym bezpośrednio na nasz kardiowerter-defibrylator,
                                            nie musimy martwić się, że ulegnie ono zepsuciu albo, że nas „pokopie”, ale
                                            jeśli akurat w tej danej chwili nasze serce będzie wymagało pomocy, to ICD
                                            nam nie pomoże. Wystarczy usunąć magnes znad urządzenia, aby powróciło jego
                                            prawidłowe działanie.</p>
                                        <p style="text-align: justify">Kolejnym zagrożeniem jest działanie składowej
                                            elektrycznej pola elektromagnetycznego. Interferencje wynikające z działania
                                            urządzeń elektrycznych mogą spowodować fałszywe wykrycie arytmii przez
                                            kardiowerter-defibrylator i dostarczenie terapii „szoku” pacjentowi, który
                                            tej terapii w danym momencie nie potrzebuje. Jak powinniśmy się zachowywać,
                                            aby nie dopuścić do wystąpienia takiej sytuacji? Większość sprzętów, które
                                            posiadamy w domu, użytkowane we właściwy sposób, z nie powinny stanowić dla
                                            nas zagrożenia: suszarka do włosów, maszynka do golenia, żelazko, pralka,
                                            telewizor, komputer, odkurzacz, akcesoria komputerowe, nadajniki Wi-Fi,
                                            krótkofalówki, CB-radia czy telefony komórkowe. W tym miejscu zaznaczę, aby
                                            nie wkładać telefonu komórkowego do kieszonki w koszuli umieszczonej nad
                                            wszczepionym urządzeniem. Co zatem może być największym zagrożeniem u Ciebie
                                            w domu? Płyta indukcyjna w kuchni. Jeśli planujesz remont kuchni, nie
                                            decyduj się na to rozwiązanie. Jeśli już posiadasz płytę indukcyjną zachowaj
                                            szczególną ostrożność w jej pobliżu, nie nachylaj się nad jej powierzchnię,
                                            ani nad blat w jej otoczeniu. Być może będziesz musiał nawet rozważyć powrót
                                            do tradycyjnej kuchenki gazowej, bądź elektrycznej. </p>
                                        <blockquote>
                                            <p> Jeśli już posiadasz płytę indukcyjną zachowaj szczególną ostrożność w
                                                jej pobliżu, nie nachylaj się nad jej powierzchnię, ani nad blat w jej
                                                otoczeniu.</p>
                                        </blockquote>
                                        <p style="text-align: justify">Uwielbiasz majsterkowanie? Pewnie zastanawiasz,
                                            co teraz z Twoją pasją? Bezpieczne są akumulatorowe narzędzia do
                                            majsterkowania takie jak wkrętarki, wiertarki, wyrzynarki, piły tarczowe czy
                                            kątowe. Spawanie jest dozwolone przy spełnieniu określonych warunków i z
                                            zachowaniem wszystkich zasad BHP. Zagrożenie natomiast stanowią zapłony
                                            silników spalinowych. Raczej zabronione jest używanie spalinowych pił
                                            łańcuchowych, kosiarek benzynowych czy odśnieżarek. </p>
                                        <p style="text-align: justify">Wybierasz się na zakupy? Lecisz na wakacje? Jak
                                            się zachować przy przechodzeniu przez bramki? Przez bramki w sklepach należy
                                            przechodzić szybkim krokiem, unikamy sytuacji stania w bramkach, na przykład
                                            przy kasie. Na lotnisku przygotuj specjalny dokument w celu okazania go przy
                                            kontroli bezpieczeństwa. W takiej sytuacji będziesz poproszony, aby ominąć
                                            bramkę, nie będziesz również badany za pomocą ręcznego detektora metalu,
                                            który nie może być zbliżany w pobliże urządzenia.</p>
                                        <blockquote>
                                            <p>Chcesz pozostać aktywnym i uprawiać sport? Jeśli tylko Twoją pasją do tej
                                                pory nie były skoki ze spadochronem i nurkowanie prawdopodobnie nie ma
                                                przeciwskazań abyś mógł nadal to robić. Zalecane jest unikania sportów
                                                kontaktowych oraz takich gdzie istnieje duże ryzyko urazu.</p>
                                        </blockquote>
                                        <hr>
                                        <div data-th-replace="fragments/article_fragments.html :: previousNext"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/article_fragments.html :: footer"></div>
</body>
</html>
