<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/article_fragments.html :: headerfiles">
    <title>Nadciśnienie tętnicze – co trzeba wiedzieć?</title>
</head>
<body class="animsition">
<div th:replace="fragments/article_fragments.html :: topHeader"></div>
<div th:replace="fragments/article_fragments.html :: pageHeader"></div>
<!-- /.page header -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div class="content-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="post-holder mb40">
                                <div class="post-img mb30">
                                    <img alt="" src="images/main-img-hypertension2.jpg" data-th-src="@{/images/main-img-hypertension2.jpg}">
                                </div>
                                <div class="post-block">
                                    <div class="post-header mb20">
                                        <h1 class="post-title mb30">Nadciśnienie tętnicze – co trzeba wiedzieć?</h1>
                                        <div data-th-replace="fragments/article_fragments.html :: meta"></div>
                                    </div>
                                    <hr>
                                    <div class="post-content">
                                        <p style="text-align: justify">Ta choroba może może dotyczyć każdego z nas.
                                            Szacowana liczba chorych w Europie wynosi ok 150 milionów, co oznacza, że co
                                            czwarta osoba w populacji choruje na nadciśnienie tętnicze. Nasz niepokój
                                            mogą wzbudzić bóle głowy, zaburzenia snu, szybkie męczenie się, jednak
                                            nadciśnienie tętnicze bardzo długo może zostać nierozpoznane, ponieważ
                                            często nie odczuwany żadnych objawów choroby, a nawet, jeśli ktoś nam
                                            zasugeruje że wartości ciśnienia tętniczego są wysokie bagatelizujemy
                                            pierwsze sygnały z powodu niewiedzy, jakie mogą być konsekwencję naszego
                                            działania. </p>
                                        <blockquote>
                                            <p>Wczesne wykrycie i włączenie leczenia może zapobiec rozwojowi poważnych
                                                powikłań narządowych. </p>
                                        </blockquote>
                                        <p class="mb30" style="text-align: justify">Wczesne wykrycie i włączenie
                                            leczenia może zapobiec rozwojowi poważnych powikłań narządowych. Retinopatia
                                            nadciśnieniowa jest rozpoznawana w badaniu dna oka, uszkodzenie drobnych
                                            naczyń siatkówki może doprowadzić nawet do utraty wzroku. Nie leczone
                                            nadciśnienie tętnicze wpływa na uszkodzenie mózgu. Minizawały,
                                            mikrokrwawienia oraz zaniki mózgowe, powodują otępienie i mogą doprowadzić
                                            do udaru mózgu. Uszkodzeniu ulegają także naczynka w kłębuszkach nerkowych
                                            skutkując rozwinięciem się choroby nerek. Niekorzystnym zmianom ulega
                                            również mięsień sercowy, jego duże obciążenie powoduje przerost mięśniówki,
                                            a to w efekcie prowadzi do niewydolności serca. </p>
                                        <h2 class="mb30">Jeśli już wiemy jakie konsekwencje może mieć nasze
                                            niefrasobliwe podejście do leczenia nadciśnienia tętniczego, zastanówmy się
                                            co dalej? Czy od razu udać się do kardiologa? </h2>
                                        <p style="text-align: justify">Do wizyty u lekarza należy się przygotować.
                                            Często pacjent na pierwsza wizytę zgłasza się w panice. Opisuje zdarzenie,
                                            że był w odwiedzinach u rodziny, źle się czuł, zmierzono mu ciśnienie, które
                                            było bardzo wysokie i na drugi dzień przerażony odwiedza gabinet lekarski.
                                            Bardzo trudno jest podjąć dobre decyzje terapeutyczne u takiego pacjenta. Na
                                            początku należy się przyjrzeć problemowi i wykonać część pracy samemu.
                                            Zaopatrzyć się w ciśnieniomierz (może być pożyczony) i dokonywać pomiarów
                                            samodzielnie w domu przez okres tygodnia rano i wieczorem. Nie należy
                                            zapominać, że pomiary powinny być wykonywane po 5 minutowym odpoczynku, w
                                            pozycji siedzącej w cichym pomieszczeniu. Tak skrupulatnie prowadzony
                                            dzienniczek przekazany lekarzowi pozwoli na rzetelną ocenę sytuacji. Drugim
                                            sposobem na postawienie diagnozy jest wykonanie całodobowego pomiaru
                                            ciśnienia tętniczego za pomocą tak zwanego holtera ciśnieniowego, pozwala on
                                            na uzyskanie pomiarów w czasie snu, jednak jego dostępność jest ograniczona,
                                            wykonanie badania może wiązać się z kosztami, a chodzenie z aparatem cały
                                            dzień może być uciążliwe. Trzeba przygotować listę zażywanych wszystkich
                                            leków uwzględniając dawki i częstotliwość ich przyjmowania. Bardzo trudno
                                            jest się domyśleć, jaki to preparat dysponując opisem: takie małe niebieskie
                                            tabletki w czerwonym opakowaniu. Na wizytę do specjalisty należy zabrać ze
                                            sobą całą dokumentację medyczną oraz wyniki najświeższych badań
                                            laboratoryjnych. Pomiar ciśnienia tętniczego na wizycie lekarskiej nie jest
                                            wystarczający do postawienia rozpoznania, ponieważ aż u połowy pacjentów
                                            możemy obserwować „nadciśnienie białego fartucha”. </p>
                                        <blockquote>
                                            <p>Kardiolog wykonuje badanie echokardiograficzne, oceniając funkcję i
                                                anatomię serca. Może zalecić wykonanie dodatkowych badań w celu oceny
                                                uszkodzeń innych narządów. </p>
                                        </blockquote>
                                        <p style="text-align: justify"> Przyczyna nadciśnienia tętniczego w większości
                                            przypadków jest niewykrywalna, samoistna zależna od genów i stylu życia, ale
                                            w niewielkiej części przypadków nadciśnienie tętnicze jest wynikiem innych
                                            chorób i może być potencjalnie wyleczalne. W tej grupie pacjentów mogą być
                                            osoby młode z opornym na leczenie nadciśnieniem tętniczym. Przyczyną
                                            wtórnego nadciśnienia tętniczego może być: miąższowa choroba nerek, zwężenie
                                            tętnicy nerkowej, hiperaldosteronizm pierwotny, guz chromochłonny oraz
                                            zespół Cushinga. </p>

                                        <h2>Czas odpowiedzieć sobie na pytanie, kiedy możemy mówić o nadciśnieniu?</h2>
                                        <p class="mt30" style="text-align: justify">Tutaj odpowiedz mogłaby się wydawać
                                            prosta, kiedy ciśnienie tętnicze jest równe bądź przekracza 140/90mmHg.
                                            Jednakże cały czas pokutują mity z dawnych czasów i na pytanie zadane
                                            pacjentowi czemu nie leczy nadciśnienia, odpowiedz brzmi, przecież mam
                                            dobre, sto plus wiek. Równie często pada odpowiedz, że „przy takim wysokim
                                            dobrze się czuje”. Opóźnienie włączenia terapii może wynikać ze strachu
                                            przed zaburzeniami w sferze seksualnej i zakłopotaniem towarzyszącym w
                                            podzieleniu się tymi niepokojami w rozmowie z lekarzem. Kolejną trudnością w
                                            terapii pacjentów jest nie uzyskiwanie oczekiwanych rezultatów terapii. Ta
                                            granica 140/90mmHg dotyczy tych chorych, którzy jeszcze nie są jeszcze
                                            leczeni. U pacjentów w trakcie terapii docelową wartością ciśnienia powinno
                                            być obniżenie do 130/80mmHg lub poniżej. Zdarza się, że pacjent trafia do
                                            gabinetu, otrzymuje jakiś preparat i uważa sprawę za zakończoną, porzuca
                                            regularne pomiary, albo nie sygnalizuje swojemu lekarzowi, że na konkretnym
                                            leku nie osiągnął docelowych wartości ciśnienia tętniczego. Takie
                                            postępowanie często trwa bardzo długo, a pacjent żyjąc w przeświadczeniu o
                                            tym, że jest leczony, nie podejmuje żadnych działań. </p>
                                        <h2>Jakie mamy możliwości leczenia?</h2>
                                        <p class="mt30" style="text-align: justify">Można usłyszeń o metodach
                                            interwencyjnych, takich jak alkoholowa denerwacja tętnic nerkowych.
                                            Początkowe wyniki badań dawały nawet nadzieję, że taki zabieg może zastąpić
                                            konieczność przyjmowania leków, lecz nie udowodniono skuteczności takiego
                                            postępowania. Badania nad tymi metodami trwają i być może w przyszłości będą
                                            stanowiły opcję terapeutyczną dla pacjenta. Zatem pozostaje nam
                                            farmakoterapia oraz zmiana stylu życia, która może spowodować zmniejszenie
                                            ilości przyjmowanych leków. Co my możemy zrobić, żeby wpłynąć pozytywnie na
                                            leczenie? Należy ograniczyć spożywanie soli, w tym miejscu trzeba sobie
                                            uzmysłowić, że sól jest nie tylko w solniczce, ale przede wszystkim w
                                            przetworzonej żywności, konserwantach, fast foodach itp. , ograniczyć picie
                                            alkoholu i słodkich napojów, w diecie sięgać po dużą ilość warzyw i owoców,
                                            ograniczać spożycie czerwonego mięsa, zadbać o szczupłą sylwetkę, regularnie
                                            uprawiać sport i rzucić palenie papierosów. </p>
                                        <blockquote>
                                            <p>W chwili obecnej terapię zaczyna się przynajmniej dwoma lekami. </p>
                                        </blockquote>
                                        <p class="mt30" style="text-align: justify">Lekarz w doborze terapii ma bardzo
                                            duży wachlarz możliwości. W chwili obecnej terapię zaczyna się przynajmniej
                                            dwoma lekami. Mogą to być oddzielne preparaty, wtedy pacjent łatwiej może
                                            dobrać optymalne dla siebie dawki i razie potrzeby podwoić dawkę konkretnego
                                            leku. Dobrym rozwiązaniem dla bardziej zapominalskich mogą być leki złożone,
                                            które stanowią połączenie kilku leków w jednej tabletce. Skojarzenie kilku
                                            leków w mniejszych dawkach jest bardzie skuteczne niż maksymalna dawka
                                            jednego leku. Nie istnieje jeden konkretny lek idealny u wszystkich
                                            pacjentów, wiele czynników wpływa na odpowiedni dobór terapii. Część leków
                                            nie można stosować u kobiet w wieku rozrodczym, inne wpływają niekorzystnie
                                            na przebieg chorób towarzyszących takich jak dna moczanowa, astma
                                            oskrzelowa, bradyarytmie, niewydolność serca lub chorobę nerek. W doborze
                                            leczenia pod uwagę bierze się wiek, płeć, wykonywaną pracę a także
                                            preferencje pacjenta. Możliwe jest wspomaganie się dostępnymi aplikacjami
                                            mobilnym, gdzie zapisywane pomiary mogą zostać udostępnione lekarzowi. Nie
                                            ma jednak takiej aplikacji, która za pomocą samego telefonu ma możliwość
                                            pomiaru ciśnienia. </p>
                                        <p class="mt30" style="text-align: justify">Lekarz i pacjent w walce z
                                            nadciśnieniem stanowią jedną drużynę, aby osiągnąć zaplanowany cel potrzebna
                                            jest dobra współpraca oparta na komunikacji, przestrzeganiu zaleceń oraz
                                            regularnym przyjmowaniu leków. Skuteczna terapia chroni przed rozwinięciem
                                            się powikłań narządowych, zmniejsza ryzyko wystąpienia zawału serca, udaru
                                            mózgu oraz wystąpienia arytmii, w tym migotania przedsionków. Musimy
                                            pamiętać, że sami jesteśmy odpowiedzialni za nasze zdrowie i nie możemy
                                            lekceważyć nadciśnienia tętniczego. Znacznie łatwiej jest zapobiegać, niż
                                            zmagać się ze spustoszeniami wyrządzonymi przez tego „cichego zabójce”. </p>
                                        <hr>
                                        <div data-th-replace="fragments/article_fragments.html :: previousNext"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/article_fragments.html :: footer"></div>
</body>
</html>
