<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Echokardiografia</title>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="content-area">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="post-holder mb40">
                        <div class="post-img mb30">
                            <img th:src="@{/images/cardio_services/cardiography.jpg}" alt="" class="img-responsive"></div>
                        <div class="post-block">
                            <div class="post-header mb20">
                                <h1 class="post-title mb30">Echokardiografia</h1>
                            </div>
                            <hr>
                            <div class="post-content">
                                <p style="text-align: justify">Echo serca – bardzo ważne badanie, podstawa diagnostyki
                                    kardiologicznej zaraz po elektrokardiogramie, ale jego rola często jest przeceniana.
                                    Nie raz zdarzyło się, że przyszedł na wizytę pacjent zapisany na echo, bo siostra/
                                    sąsiadka doradziła takie rozwiązanie: „Zrobisz sobie echo i będziesz wszystko
                                    wiedzieć o swoim sercu”. Niestety nie jest to zupełnie prawda. Jeśli pacjentką jest
                                    starsza kobieta, która szybko się męczy lub często ma opuchnięte nogi wykonanie tego
                                    badania może zmienić wszystko, pomóc postawić właściwe rozpoznanie i natychmiastowo
                                    włączyć prawidłowe leczenie. Przyczyną może być niewydolność serca, stan po zawale
                                    serca lub wada zastawki wymagająca operacji. Natomiast jeśli jesteś młodą kobietą i
                                    „coś Ci się tam dzieje” mało prawdopodobne jest aby przyczyną była wada serca.
                                    Oczywiście nigdy nie wiadomo, ale zazwyczaj w takim wypadku screeningowe badanie
                                    zupełnie wystarczy. Może się nawet zdarzyć, że lekarz nie da Ci wyniku, albo nie
                                    naliczy dodatkowej opłaty, bo uzna że jest to nieistotne dla dalszej diagnostyki. W
                                    Twoim przypadku ważniejsze mogą się okazać inne badania, takie jak Holter EKG lub
                                    test wysiłkowy, dlatego najważniejsza w postawieniu diagnozy jest konsultacja
                                    lekarska i badanie fizykalne, a nie skomplikowana diagnostyka.</p>
                                <h2 class="mb30">Jak się przygotować do badania?</h2>
                                <p style="text-align: justify">Badanie UKG nie wymaga specjalnego przygotowania. Do
                                    badania należy się rozebrać, biustonosz również. Pacjent kładzie się na lewym boku
                                    plecami do lekarza, układając lewą rękę pod głowę. W tej pozycji uzyskujemy
                                    najlepsze okno akustyczne aby ultradźwięki przedostały się pomiędzy żebrami w głąb
                                    klatki piersiowej. Dla lepszej penetracji fal ultradzwiękowych głowicę służącą do
                                    przeprowadzenia badania smaruje się specjalnym żelem. Badanie jest zupełnie
                                    bezinwazyjne, może być trochę nieprzyjemne, żel zimny, a głowicę trzeba czasem
                                    mocniej przycisnąć aby uzyskać lepszy obraz.</p>
                                <blockquote class="mt30">
                                    <p>Do badania należy się rozebrać, biustonosz również. Pacjent kładzie się na lewym
                                        boku plecami do lekarza, układając lewą rękę pod głowę.</p>
                                </blockquote>
                                <h2 class="mt30 mb30">Jakie informacje możemy uzyskać?</h2>
                                <p>Badanie obrazuje struktury anatomiczne, zatem mamy możliwość oceny funkcji zastawek w
                                    sercu, czy są szczelne, czy kurczliwość lewej komory jest prawidłowa, czy aorta jest
                                    nieposzerzona. Jak również możemy zdiagnozować wady wrodzone. Jednak badanie nie
                                    powie nam nic o arytmii, nie jest w stanie przewidzieć u kogo możemy się spodziewać
                                    zawału serca.</p>
                                <h2 class="mt30 mb30">Jak często należy wykonywać echo serca?</h2>
                                <p>Nie musisz w tym przypadku wychodzić przed szereg. Pierwsze badanie jest
                                    najważniejsze, ponieważ, jak już mówiliśmy „nigdy nie wiadomo”. Życie pisze różne
                                    scenariusze, i niestety wielokrotnie zdarzyło się, że pacjent który zgłosił się z
                                    błahego powodu, wyszedł z bardzo poważnym rozpoznaniem, wymagającym natychmiastowej
                                    interwencji kardiochirurga. Chociaż nie zawsze jest to niestety, przecież lepiej
                                    wiedzieć, poddać się leczeniu i żyć. Lekarz decyduje o częstotliwości kontrolnych
                                    badań echokardiograficznych w zależności od monitorowanej choroby.</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>