<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Test wysiłkowy</title>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="content-area">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="post-holder mb40">
                        <div class="post-img mb30">
                            <img th:src="@{/images/cardio_services/test.jpg}" alt="" class="img-responsive">
                        </div>
                        <div class="post-block">
                            <div class="post-header mb20">
                                <h1 class="post-title mb30">Test wysiłkowy</h1>
                            </div>
                            <hr>
                            <div class="post-content">
                                <p style="text-align: justify">Jednym z podstawowych badań, które przeprowadzamy w
                                    gabinecie kardiologicznym jest test wysiłkowy. Pacjent w trakcie badania ma
                                    monitorowany zapis ekg i ciśnienie tętnicze. Porusza się na bieżni wg zaplanowanego
                                    protokołu. Najpierw powoli, w formie rozgrzewki, a następnie coraz intensywniej
                                    poprzez szybki marsz, aż do biegu. Obserwujemy ekg w trakcie wysiłku i analizujemy
                                    zmiany zapisu oraz pojawiające się arytmie. Zwracamy szczególną uwagę na zgłaszane
                                    przez chorego objawy w postaci bólu w klatce piersiowej, gniecenie, pieczenie oraz
                                    nasilająca się duszność. Na tej podstawie możemy zakwalifikować pacjenta do dalszej
                                    diagnostyki, tomografii komputerowej lub koronarografii. </p>
                                <h2 class="mb30">Jak przygotować się do badania?</h2>
                                <p style="text-align: justify">Badanie ma sens jeśli przyłożymy się do jego wykonania.
                                    Aby lekarz rozpoznał jakieś nieprawidłowości musimy wykonać wysiłek o odpowiednim
                                    dla naszego wieku i płci obciążeniu. Znacznie łatwiej będzie się nam porządnie
                                    spocić, gdy przygotujemy sobie adidasy na zmianę oraz wygodny sportowy strój.
                                    Spadające lub za długie spodnie, obcisła spódniczka albo zsuwające się skarpetki
                                    potrafią narobić dużo zamieszania. Mężczyźni z bujnym zarostem na klacie mogą się
                                    spodziewać, że pielęgniarka będzie musiała ich trochę ogolić przed podpięciem
                                    elektrod do ekg. Jeśli po badaniu planujemy jeszcze jakieś aktywności towarzyskie
                                    konieczny może być
                                    W ciągu trzech godzin poprzedzających badanie nie powinno się spożywać posiłku
                                    oraz palić papierosów, a także na dwanaście godzin przed testem nie należy wykonywać
                                    większych wysiłków.
                                    <!--                                    Przed badaniem nie należy spożywać posiłku na 3 godziny przed testem, nie palić-->
                                    <!--                                    papierosów na 3 godziny przed badaniem oraz nie wykonywać większych wysiłków na 12-->
                                    <!--                                    godzin przed testem.</p>-->
                                    <blockquote class="mt30">
                                <p>W ciągu trzech godzin poprzedzających badanie nie powinno się spożywać posiłku
                                    oraz palić papierosów, a także na dwanaście godzin przed testem nie należy wykonywać
                                    większych wysiłków.</p>
                                </blockquote>
                                <h2 class="mt30 mb30">U kogo chcemy wykonać takie badanie?</h2>
                                <!--                                <p>Badanie obrazuje struktury anatomiczne, zatem mamy możliwość oceny funkcji zastawek w-->
                                <!--                                    sercu, czy są szczelne, czy kurczliwość lewej komory jest prawidłowa, czy aorta jest-->
                                <!--                                    nieposzerzona. Jak również możemy zdiagnozować wady wrodzone. Jednak badanie nie-->
                                <!--                                    powie nam nic o arytmii, nie jest w stanie przewidzieć u kogo możemy się spodziewać-->
                                <!--                                    zawału serca.</p>-->
                                <!--                                <h2 class="mt30 mb30">Jak często należy wykonywać echo serca?</h2>-->
                                <p>Najczęściej test wysiłkowy przeprowadzamy u pacjentów, którzy zgłaszają się do
                                    kardiologa już z objawami, ograniczeniem wydolności fizycznej, dusznościami lub
                                    „dziwnymi” bólami do diagnostyki. Jednak nie powinieneś czekać aż tak długo,
                                    szczególnie jeśli jesteś mężczyzną po 50 roku życia, palącym papierosy, gdy jesteś
                                    obciążony rodzinnie oraz gdy leczysz się na nadciśnienie tętnicze, cukrzycę i
                                    hipercholestrolemię, wtedy badanie jest przeprowadzane jako wstępny etap
                                    diagnostyki. Kolejną grupą pacjentów są pacjenci już po incydencie
                                    sercowo-naczyniowym, którzy np. przeszli zawał serca, zabieg kardiochirurgiczny lub
                                    wszczepienie stentów, wtedy to badanie jest częścią okresowej kontroli. Może zdarzyć
                                    się również, że przygotowujesz się do maratonu i chcesz czuć się bezpiecznie o stan
                                    swojego zdrowia.</p>
                                <p>Jeśli jest to Twoje pierwsze badanie wysiłkowe, ważne abyś poinformował o tym swojego
                                    lekarza. Konieczne może być wykonanie badania echokardiograficznego w celu
                                    wykluczenia istotnych wad serca, które mogą stanowić przeciwwskazanie do wykonania
                                    testu wysiłkowego. Kolejnym ważnym aspektem jest prawidłowa kontrola ciśnienia
                                    tętniczego. Ciśnienie powyżej 250/115mmHg jest wskazaniem do przerwania badania,
                                    dlatego zazwyczaj nie kwalifikujemy do badania pacjentów, którzy mają wyjściowo
                                    ciśnienie powyżej 150/90mmHg.</p>
                                <blockquote class="mt30">
                                    <p>Jeśli jest to Twoje pierwsze badanie wysiłkowe, ważne abyś poinformował o tym
                                        swojego
                                        lekarza. Konieczne może być wykonanie badania echokardiograficznego w celu
                                        wykluczenia istotnych wad serca, które mogą stanowić przeciwwskazanie do
                                        wykonania
                                        testu wysiłkowego.</p>
                                </blockquote>
                                <h2 class="mt30 mb30">Co oznacza wynik dodatni?</h2>
                                <p>
                                <p>Głównym celem badania jest zidentyfikowanie pacjentów wymagających pilnej diagnostyki
                                    inwazyjnej z powodu zmian w naczyniach wieńcowych, które w istotny sposób zawężają
                                    światło naczynia i zagrażają całkowitym zamknięciem się naczynia, doprowadzając do
                                    zawału serca.
                                    Zatem do dodatni wynik oznacza, że potrzebne mogą być kolejne badania
                                    diagnostyczne.</p>
                            </div>
                        </div>
                        <hr>
                        <div data-th-replace="fragments/core_fragments.html :: previousNext"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>