<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Strona portalu Strefa Serca. W codziennej pracy staram się dążyć do jasnego i zrozumiałego wyjaśnienia pacjentowi na czym polega jego choroba. Uważam, że wiedza, jak postępować w danej sytuacji i dlaczego, zwiększa skuteczność leczenia.">
    <meta name="keywords" content="medical website templates bootstrap,medical website templates free download,medical website templates free, cardiology website templates,cardiology website design,cardiology websites for doctors,cardiology website templates free,
veterinary cardiology website, pediatric cardiology website">
    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet ">
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}">-->
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css" th:href="@{/css/animsition.min.css}">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link href="css/font-awesome.css" rel="stylesheet" th:href="@{/css/overrides-style.css}">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>

<div th:fragment="topHeader" class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12"><a class="logo" th:href="@{/}">
                <img th:src="@{/images/logo-main.jpg}" alt=""/></a>
                <!--                <h2 class="intro-title">Kardiolog Katarzyna Czarnecka</h2>-->
            </div>
            <div class="col-lg-9">
                <div class="top-link">
                    <div class="row">
                        <div class="col-lg-6 d-none d-md-block top-link">
                            <i class="fa fa-envelope-o"></i> <a href="#">strefaserca@gmail.com</a>
                        </div>
                        <div class="col-lg-3  d-none d-md-block top-link">
                            <i class="fa fa-phone"></i> <a href="#">792 327 604</a>
                        </div>
                        <div class="col-lg-6  d-md-none top-link">
                            <i class="fa fa-user-md"></i><a href="#">Kardiolog Katarzyna Czarnecka</a>
                        </div>
                        <div class="col-lg-3  top-link">
                            <i class="fa fa-sign-in"></i> <a href="#">Zaloguj się</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="pageHeader" class="page-header">
    <div class="">
        <div class="header">
            <!-- navigation -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12"></div>
                    <div id="navigation" class="navigation">
                        <ul>
                            <li class="active"><a th:href="@{/}" title="Home" class="animsition-link">Strona główna</a>
                            </li>
                            <li><a th:href="@{/#}" title="O_mnie" class="inactiveLink">O mnie</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/certificates}" title="Certyfikaty" class="animsition-link">Certyfikaty</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/about}" title="Pasja" class="animsition-link">Kardiologia moją
                                            pasją</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a th:href="@{/services}" title="Usługi" class="animsition-link">Usługi i
                                diagnostyka</a>
                            <li><a th:href="@{/testimonials}" title="Opinie" class="animsition-link">Opinie</a>
                            </li>
                            <li><a th:href="@{/article/list}" title="Blog" class="animsition-link">Artykuły</a>
                            </li>
                            <li><a th:href="@{/contact}" title="Kontakt" class="animsition-link">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center"></div>
        <div class="page-caption">
            <h1 class="page-title"></h1>
        </div>
    </div>
</div>
</div></div>

<div th:fragment="sideNavigation" class="col-lg-2 col-md-2">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="sidenav mb60">
                <ul class="listnone no-padding">
                    <li>
                        <a style="padding-block: 20px" th:href="@{${'/service/selected/Echokardiografia'}}" title="Echokardiografia">Echokardiografia</a>
                    </li>
                    <li><a th:href="@{${'/service/selected/Holter_EKG'}}" title="Holter EKG">Holter EKG</a></li>
                    <li><a th:href="@{${'/service/selected/Holter_RR'}}" title="Holter ciśnieniowy">Holter <br>
                        ciśnieniowy</a></li>

                    <li>
                        <a th:href="@{${'/service/selected/Kontrola_stymulatora'}}" title="Kontrola stymulatora">Kontrola
                            <br> stymulatora</a></li>
                    <li>
                        <a th:href="@{${'/service/selected/Koronarografia'}}" title="Koronarografia">Koronarografia</a>
                    </li>
                    <li>
                        <a th:href="@{${'/service/selected/Test_wysiłkowy'}}" title="Test wysiłkowy">Test <br> wysiłkowy</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--                                <div class="col-md-12">-->
        <!--                                    <div class="widget">-->
        <!--                                        <h2 class="widget-title">Opening Hours</h2>-->
        <!--                                        <hr>-->
        <!--                                        <div class="opening-time">-->
        <!--                                            <span>Mon-Fri</span><strong class="pull-right">8:00am-7:00pm</strong> <br>-->
        <!--                                            <span>Saturday </span><strong class="pull-right">9:00am–5:00pm</strong> <br>-->
        <!--                                            <span>Sunday </span><strong class="pull-right">9:00am–3:00pm</strong>-->
        <!--                                        </div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
    </div>
</div>
<div th:fragment="previousNext" class="post-navigation mb40">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="nav-previous">
                <a th:href="@{${'/service/selected/' + prevService}}" class="btn-link next-link mb30">Poprzedni
                    artykuł</a>
                <h3 class="related-title">
                    <a th:href="@{${'/service/selected/' + prevService}}" class="" data-th-text="${prevService}"></a>
                </h3>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="nav-next text-right">
                <a th:href="@{${'/service/selected/' + nextService}}" class="btn-link next-link mb30">Następny
                    artykuł</a>
                <h3 class="related-title">
                    <a th:href="@{${'/service/selected/' + nextService}}" class="" data-th-text="${nextService}"></a>
                </h3>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer" class="footer section-space60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="footer-widget">
                    <div class="mb30"><a th:href="@{/}"><img th:src="@{/images/logo-footer.jpg}" alt=""/></a></div>
                    <address><i class="fa fa-map-marker"></i> Bogedaina 41<br> 43-200, Pszczyna, śląskie
                    </address>
                    <ul class="listnone contact">
                        <li><i class="fa fa-phone"></i>792 327 604 <br> 32 447 09 70</li>
                        <li><i class="fa fa-envelope-o"></i>strefaserca@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Diagnostyka</h3>
                    <ul class="listnone bullet bullet-angle-right mb0">
                        <li><a th:href="@{${'/service/selected/Echokardiografia'}}" title="Echokardiografia">Echokardiografia</a>
                        </li>
                        <li><a th:href="@{${'/service/selected/Holter_EKG'}}" title="Holter EKG">Holter EKG</a></li>
                        <li><a th:href="@{${'/service/selected/Holter_RR'}}" title="Holter ciśnieniowy">Holter
                            ciśnieniowy</a></li>
                        <li>
                            <a th:href="@{${'/service/selected/Kontrola_stymulatora'}}" title="Kontrola stymulatora">Kontrola
                                stymulatora</a></li>
                        <li>
                            <a th:href="@{${'/service/selected/Koronarografia'}}" title="Koronarografia">Koronarografia</a>
                        </li>
                        <li>
                            <a th:href="@{${'/service/selected/Test_wysiłkowy'}}" title="Test wysiłkowy">Test
                                wysiłkowy</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Strony</h3>
                    <ul class="listnone bullet bullet-angle-right mb0">
                        <li><a th:href="@{/}" title="Home">Główna</a></li>
                        <li><a th:href="@{/services}" title="Usługi">Usługi</a></li>
                        <li><a th:href="@{/article/list}" title="Artykuły">Artykuły</a></li>
                        <li><a th:href="@{/contact}" title="Kontakt Us">Kontakt</a></li>
                        <li><a th:href="@{/testimonials}" title="Opinie">Opinie</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Newsletter</h3>
                    <p>Zapisz się do newslettera i bądź na bieżąco!</p>
                    <form action="newsletter" id=request_newsletter method="post">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Adres e-mail" name="newsletter" id="email">
                            <span class="input-group-btn">
                                <button id="newsletter_submit_button" class="btn btn-default" type="button">Zapisz mnie</button></span>
                        </div>
                        <div class="errorTxt"></div>
                    </form>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
    <div class="tiny-footer"><!-- tiny-footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <p>StrefaSerca © 2020</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="mail_confirm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body d-block">
                    <h2 class="modal-title text-center">Na podany adres został wysłany link aktywacyjny. <br> Użyj go
                        aby otrzymywać od nas wiadomości.</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="ask_question">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body d-block">
                    <h2 class="modal-title text-center">Wysłać wiadomość ?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="send_question" data-dismiss="modal">Wyślij
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- /.tiny-footer -->
    <!-- back to top icon -->
    <a href=" #0 " class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQueryValidate (necessary for validation with jQuery) -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <script src="js/menumaker.js" data-th-src="@{/js/menumaker.js}"></script>
    <script type="text/javascript">
        $("#navigation").menumaker({
            title: "Menu",
            format: "multitoggle"
        })
        // /** newsletter code */
        // $('#request_newsletter').submit(function (e) {
        //     // $('#mail_confirm').modal('show');
        //     FormValidationNewsLetter();
        //     var form = $('#request_newsletter');
        //     e.preventDefault();
        //     $.ajax({
        //         type: form.attr('method'), // method attribute of form
        //         url: form.attr('action'),  // action attribute of form
        //         data: form.serialize()
        //     });
        // });

        // $('#request_newsletter input[type=email]').on('change invalid', function () {
        //     var textfield = $(this).get(0);
        //
        //     // 'setCustomValidity not only sets the message, but also marks
        //     // the field as invalid. In order to see whether the field really is
        //     // invalid, we have to remove the message first
        //     textfield.setCustomValidity('');
        //
        //     if (!textfield.validity.valid) {
        //         textfield.setCustomValidity('Wprowadź prawidłowy adres email zawierający "@"');
        //     }
        // });

        /** Ask me a question code */
        $('#question_submit_button').click(function (e) {
            ValidateQuestionForm();
            /** toggle alert */
            if ($('#bsalert').hasClass('in')) {
                toggleAlert()
            }
        });
        // /** Ask me a question code */
        $('#newsletter_submit_button').click(function (e) {
            ValidateNewsletterForm(e);
            // /** toggle alert */
            // if ($('#bsalert').hasClass('in')) {
            //     toggleAlert()
            // }
        });

        /** jQuery validation method*/
        function ValidateQuestionForm() {
            $('#ask_question_form').validate({
                errorClass: "my-error-class",
                // validClass: "my-valid-class",
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true
                    },
                    textarea: {
                        required: true,
                        minlength: 10
                    }
                },
                messages: {
                    name: "Wpisz swoje imię",
                    email: "Wpisz prawidłowy email",
                    textarea: "Wpisz przynajmniej 10 znaków"
                }
            })
            if ($('#ask_question_form').valid()) {
                $('#ask_question').modal('show');
            }
        }

        function ValidateNewsletterForm(e) {
            /** newsletter */
            $('#request_newsletter').validate({
                errorClass: "my-error-class",
                // validClass: "my-valid-class",
                rules: {
                    newsletter: {
                        required: true
                    },
                },
                messages: {
                    newsletter: "Wpisz prawidłowy adres email",
                },
                errorElement: 'div',
                errorLabelContainer: '.errorTxt'
            })
            if ($('#request_newsletter').valid()) {
                $('#mail_confirm').modal('show');
                sendNewsletter(e)
            }

            function sendNewsletter(e) {
                /** newsletter code */
                var form = $('#request_newsletter');
                e.preventDefault();
                $.ajax({
                    type: form.attr('method'), // method attribute of form
                    url: form.attr('action'),  // action attribute of form
                    data: form.serialize()
                });
            }

            // $( document ).ready(function() {


            // $('#request_newsletter').submit(function (e) {
            //     // $('#mail_confirm').modal('show');
            //     // ValidateNewsletterForm();
            //     var form = $('#request_newsletter');
            //     e.preventDefault();
            //     $.ajax({
            //         type: form.attr('method'), // method attribute of form
            //         url: form.attr('action'),  // action attribute of form
            //         data: form.serialize()
            // })
            // ;
            // })
            // ;

        }

        $('#send_question').click(function (e) {
            var form = $('#ask_question_form');
            e.preventDefault();
            $.ajax({
                type: form.attr('method'), // method attribute of form
                url: form.attr('action'),  // action attribute of form
                data: form.serialize(),
                success: function () {
                    toggleAlert();
                    $(form)[0].reset();
                },
                error: function (data) {
                    // successmessage = 'Error';
                    // $("label#successmessage").text(successmessage);
                },
            });
        });

        function toggleAlert() {
            $(".alert").toggleClass('in out');
            return false; // Keep close.bs.alert event from removing from DOM
        }

        $(document).ready(function () {
            $('#request_newsletter').bind('keydown', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });
        });


    </script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js" data-th-src="@{/js/animsition.js}"></script>
    <script type="text/javascript" src="js/animsition-script.js" data-th-src="@{/js/animsition-script.js}"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js" data-th-src="@{/js/jquery.sticky.js}"></script>
    <script type="text/javascript" src="js/sticky-header.js" data-th-src="@{/js/sticky-header.js}"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript" data-th-src="@{/js/back-to-top.js}"></script>
</div>
</body>
</html>
