<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Are you small and local cardiology clinic and hospital? Download our free website template for your cardiology website template. Its Free!">
    <meta name="keywords" content="medical website templates bootstrap,medical website templates free download,medical website templates free, cardiology website templates,cardiology website design,cardiology websites for doctors,cardiology website templates free,
veterinary cardiology website, pediatric cardiology website">
    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet ">
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}">-->
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" data-th-href="@{/css/style.css}">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css" data-th-href="@{/css/animsition.min.css}">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.css" rel="stylesheet" data-th-href="@{/css/font-awesome.css}">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div th:fragment="topHeader" class="top-header">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12"><a class="logo" href="index.html">
                    <img src="images/logostrefaserca.jpg" data-th-src="@{/images/logostrefaserca.jpg}" alt=""/></a>
                </div>
                <div class="col-md-9 hidden-sm hidden-xs">
                    <div class="top-link">
                        <div class="row">
                            <div class="col-md-3">
                                <i class="fa fa-clock-o"></i>Mon to sat: 10:00am to 6:00pm
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-phone"></i> <a href="cantact-us.html">+91 123 4567 789</a>
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-envelope-o"></i> <a href="cantact-us.html">info@cardio.com</a>
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-sign-in"></i> <a href="cantact-us.html">Zaloguj się</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="pageHeader" class="page-header">
    <div>
        <div class="">
            <div class="header">
                <!-- navigation -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <div id="navigation" class="navigation">
                                <ul>
                                    <li class="active"><a href="/index" title="Home" class="animsition-link">Home</a>
                                    </li>
                                    <li><a href="/#" title="O_mnie" class="inactiveLink">O mnie</a>
                                        <ul>
                                            <li>
                                                <a href="/certificates" title="Certyfikaty" class="animsition-link">Certyfikaty</a>
                                            </li>
                                            <li><a href="/about" title="Pasja" class="animsition-link">Kardiologia moją
                                                pasją</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/services" title="Usługi" class="animsition-link">Usługi</a>
                                    <li><a href="/testimonials" title="Opinie" class="animsition-link">Opinie</a>
                                    </li>
                                    <li><a href="/articles" title="Blog" class="animsition-link">Artykuły</a>
                                    </li>
                                    <li><a href="/contact" title="Kontakt" class="animsition-link">Kontakt</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="page-caption">
                        <h1 class="page-title">Certyfikaty</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" class="footer section-space60">
    <div>
        <!-- footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="footer-widget">
                        <div class="footer-logo mb30"><img src="images/ft-logo.png" alt="" class=""></div>
                        <address><i class="fa fa-map-marker"></i>
                            873 Fleming Way<br>
                            Richmond, VA 23228
                        </address>
                        <ul class="listnone contact">
                            <li><i class="fa fa-phone"></i>800-123-456</li>
                            <li><i class="fa fa-envelope-o"></i>Info@architectural.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="footer-widget"><!-- footer-widget -->
                        <h3 class="footer-title">Services</h3>
                        <ul class="listnone bullet bullet-angle-right mb0">
                            <li><a href="service-detail.html" title="Diagnostic Cardiac">Diagnostic Cardiac</a></li>
                            <li><a href="service-detail.html" title="Vascular Dignostic">Vascular Dignostic</a></li>
                            <li><a href="service-detail.html" title="Invasive Procedures">Invasive Procedures</a></li>
                            <li><a href="service-detail.html" title="Heart Conditions Treated">Heart Conditions
                                Treated</a>
                            </li>
                            <li><a href="service-detail.html" title="Vein Clinic Services">Vein Clinic Services</a></li>
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="footer-widget"><!-- footer-widget -->
                        <h3 class="footer-title">Strony</h3>
                        <ul class="listnone bullet bullet-angle-right mb0">
                            <li><a href="/index" title="Home">Home</a></li>
                            <li><a href="/services" title="Usługi">Usługi</a></li>
                            <li><a href="/articles" title="Artykuły">Artykuły</a></li>
                            <li><a href="/contact" title="Kontakt Us">Kontakt</a></li>
                            <li><a href="/testimonials" title="Opinie">Opinie</a></li>
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget"><!-- footer-widget -->
                        <h3 class="footer-title">Newsletter</h3>
                        <p>Subscribe to our newsletter to get the latest
                            news to your inbox.</p>
                        <form>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Address">
                                <span class="input-group-btn">
        <button class="btn btn-default" type="button">subscribe</button></span>
                            </div>
                        </form>
                    </div>
                    <!-- /.footer-widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <div class="tiny-footer"><!-- tiny-footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <p>Cardio © 2016 | Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /.tiny-footer -->
    <!-- back to top icon -->
    <a href=" #0 " class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <script src="js/menumaker.js" data-th-src="@{/js/menumaker.js}"></script>
    <script type="text/javascript">
        $("#navigation").menumaker({
            title: "Menu",
            format: "multitoggle"
        });
    </script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js" data-th-src="@{/js/animsition.js}"></script>
    <script type="text/javascript" src="js/animsition-script.js" data-th-src="@{/js/animsition-script.js}"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js" data-th-src="@{/js/jquery.sticky.js}"></script>
    <script type="text/javascript" src="js/sticky-header.js" data-th-src="@{/js/sticky-header.js}"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript" data-th-src="@{/js/back-to-top.js}"></script>
</div>
</body>
</html>
