<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Strona portalu Strefa Serca. W codziennej pracy staram się dążyć do jasnego i zrozumiałego wyjaśnienia pacjentowi na czym polega jego choroba. Uważam, że wiedza, jak postępować w danej sytuacji i dlaczego, zwiększa skuteczność leczenia.">
    <meta name="keywords" content="medical website templates bootstrap,medical website templates free download,medical website templates free, cardiology website templates,cardiology website design,cardiology websites for doctors,cardiology website templates free,
veterinary cardiology website, pediatric cardiology website">
    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet ">
    <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}">-->
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css" th:href="@{/css/animsition.min.css}">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>

<div th:fragment="topHeader" class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12"><a class="logo" th:href="@{/}">
                <img th:src="@{/images/logo-main.jpg}" alt=""/></a>
            </div>
            <div class="col-md-3  hidden-sm hidden-xs top-link">
                <i class="fa fa-envelope-o"></i> <a href="#">strefaserca@gmail.com</a>
            </div>
            <div class="col-md-3  hidden-sm hidden-xs top-link">
                <i class="fa fa-phone"></i> <a href="#">792 327 604</a>
            </div>
            <div class="col-md-3  hidden-sm hidden-xs top-link">
                <i class="fa fa-sign-in"></i> <a href="#">Zaloguj się</a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="pageHeader" class="page-header">
    <div class="">
        <div class="header">
            <!-- navigation -->
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12">
                        <div id="navigation" class="navigation">
                            <ul>
                                <li class="active"><a th:href="@{/}" title="Home" class="animsition-link">Strona
                                    główna</a>
                                </li>
                                <li><a th:href="@{/#}" title="O_mnie" class="inactiveLink">O mnie</a>
                                    <ul>
                                        <li>
                                            <a th:href="@{/certificates}" title="Certyfikaty" class="animsition-link">Certyfikaty</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/about}" title="Pasja" class="animsition-link">Kardiologia
                                                moją pasją</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/services}" title="Usługi" class="animsition-link">Usługi i
                                    diagnostyka</a>
                                <li><a th:href="@{/testimonials}" title="Opinie" class="animsition-link">Opinie</a>
                                </li>
                                <li><a th:href="@{/article/list}" title="Blog" class="animsition-link">Artykuły</a>
                                </li>
                                <li><a th:href="@{/contact}" title="Kontakt" class="animsition-link">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="page-caption">
                    <h1 class="page-title"></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="sideNavigation" class="col-md-2 col-sm-2">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="sidenav mb60">
                <ul class="listnone no-padding">
                    <li>
                        <a style="padding-block: 20px" th:href="@{${'/service/selected/Echokardiografia'}}" title="Echokardiografia">Echokardiografia</a>
                    </li>
                    <li><a th:href="@{${'/service/selected/Holter_EKG'}}" title="Holter EKG">Holter EKG</a></li>
                    <li><a th:href="@{${'/service/selected/Holter_RR'}}" title="Holter ciśnieniowy">Holter <br>
                        ciśnieniowy</a></li>

                    <li>
                        <a th:href="@{${'/service/selected/Kontrola_stymulatora'}}" title="Kontrola stymulatora">Kontrola
                            <br> stymulatora</a></li>
                    <li>
                        <a th:href="@{${'/service/selected/Koronarografia'}}" title="Koronarografia">Koronarografia</a>
                    </li>
                    <li>
                        <a th:href="@{${'/service/selected/Test_wysiłkowy'}}" title="Test wysiłkowy">Test <br> wysiłkowy</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--                                <div class="col-md-12">-->
        <!--                                    <div class="widget">-->
        <!--                                        <h2 class="widget-title">Opening Hours</h2>-->
        <!--                                        <hr>-->
        <!--                                        <div class="opening-time">-->
        <!--                                            <span>Mon-Fri</span><strong class="pull-right">8:00am-7:00pm</strong> <br>-->
        <!--                                            <span>Saturday </span><strong class="pull-right">9:00am–5:00pm</strong> <br>-->
        <!--                                            <span>Sunday </span><strong class="pull-right">9:00am–3:00pm</strong>-->
        <!--                                        </div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
    </div>
</div>

<div th:fragment="previousNext" class="post-navigation mb40">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="nav-previous">
                <a th:href="@{${'/service/selected/' + prevService}}" class="btn-link next-link mb30">Poprzedni
                    artykuł</a>
                <h3 class="related-title">
                    <a th:href="@{${'/service/selected/' + prevService}}" class="" data-th-text="${prevService}"></a>
                </h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
            <div class="nav-next">
                <a th:href="@{${'/service/selected/' + nextService}}" class="btn-link next-link mb30">Następny
                    artykuł</a>
                <h3 class="related-title">
                    <a th:href="@{${'/service/selected/' + nextService}}" class="" data-th-text="${nextService}"></a>
                </h3>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" class="footer section-space60">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="footer-widget">
                    <div class="footer-logo mb30"><img data-th-src="@{/images/logo-footer.jpg}" alt="" class=""></div>
                    <address><i class="fa fa-map-marker"></i> Bogedaina 41<br> 43-200, Pszczyna, śląskie
                    </address>
                    <ul class="listnone contact">
                        <li><i class="fa fa-phone"></i>792 327 604 <br> 32 447 09 70</li>
                        <li><i class="fa fa-envelope-o"></i>strefaserca@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Usługi i Diagnostyka</h3>
                    <ul class="listnone bullet bullet-angle-right mb0">
                        <li><a th:href="@{${'/service/selected/Echokardiografia'}}" title="Echokardiografia">Echokardiografia</a>
                        </li>
                        <li><a th:href="@{${'/service/selected/Holter_EKG'}}" title="Holter EKG">Holter EKG</a></li>
                        <li><a th:href="@{${'/service/selected/Holter_RR'}}" title="Holter ciśnieniowy">Holter
                            ciśnieniowy</a></li>
                        <li><a th:href="@{${'/service/selected/Kontrola_stymulatora'}}" title="Kontrola stymulatora">Kontrola
                            stymulatora</a></li>
                        <li>
                            <a th:href="@{${'/service/selected/Koronarografia'}}" title="Koronarografia">Koronarografia</a>
                        </li>
                        <li>
                            <a th:href="@{${'/service/selected/Test_wysiłkowy'}}" title="Test wysiłkowy">Test
                                wysiłkowy</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Strony</h3>
                    <ul class="listnone bullet bullet-angle-right mb0">
                        <li><a th:href="@{/}" title="Home">Główna</a></li>
                        <li><a th:href="@{/services}" title="Usługi">Usługi</a></li>
                        <li><a th:href="@{/article/list}" title="Artykuły">Artykuły</a></li>
                        <li><a th:href="@{/contact}" title="Kontakt Us">Kontakt</a></li>
                        <li><a th:href="@{/testimonials}" title="Opinie">Opinie</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Newsletter</h3>
                    <p>Zapisz się do newslettera i bądź na bieżąco!</p>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Adres e-mail">
                            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Zapisz mnie</button></span>
                        </div>
                    </form>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
    <div class="tiny-footer"><!-- tiny-footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <p>StrefaSerca © 2020</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /.tiny-footer -->
    <!-- back to top icon -->
    <a href=" #0 " class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <script src="js/menumaker.js" data-th-src="@{/js/menumaker.js}"></script>
    <script type="text/javascript">
        $("#navigation").menumaker({
            title: "Menu",
            format: "multitoggle"
        });
    </script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js" data-th-src="@{/js/animsition.js}"></script>
    <script type="text/javascript" src="js/animsition-script.js" data-th-src="@{/js/animsition-script.js}"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js" data-th-src="@{/js/jquery.sticky.js}"></script>
    <script type="text/javascript" src="js/sticky-header.js" data-th-src="@{/js/sticky-header.js}"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript" data-th-src="@{/js/back-to-top.js}"></script>
</div>
</body>
</html>
