<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>O mnie</title>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div class="header">
    <!-- navigation -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <div id="navigation" class="navigation">
                    <ul>
                        <li class="active"><a th:href="@{/}" title="Home" class="animsition-link">Strona główna</a>
                        </li>
                        <li><a th:href="@{/#}" title="O_mnie" class="inactiveLink">O mnie</a>
                            <ul>
                                <li>
                                    <a th:href="@{/certificates}" title="Certyfikaty" class="animsition-link">Certyfikaty</a>
                                </li>
                                <li>
                                    <a th:href="@{/about}" title="Pasja" class="animsition-link">Kardiologia moją
                                        pasją</a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/services}" title="Usługi" class="animsition-link">Usługi i diagnostyka</a>
                        <li><a th:href="@{/testimonials}" title="Opinie" class="animsition-link">Opinie</a>
                        </li>
                        <li><a th:href="@{/article/list}" title="Blog" class="animsition-link">Artykuły</a>
                        </li>
                        <li><a th:href="@{/contact}" title="Kontakt" class="animsition-link">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="content-area">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="post-holder mb40">
                        <div class="post-img mb30">
                            <img th:src="@{/images/about/main.jpg}" alt="" class="img-responsive"></div>
                        <div class="post-block mb40">
                            <div class="post-header mb20">
                                <h1 class="post-title mb30">Kilka słów o mnie</h1>
                            </div>
                            <hr>
                            <div class="post-content">
                                <p style="text-indent: 50px"> Odbyłam specjalizację z kardiologii w Oddziale Kardiologii
                                    Inwazyjnej, Elektrofizjologii i Elektrostymulacji Polsko-Amerykańskich Klinikach
                                    Sercach w Tychach. W trakcie szkolenia nabyłam doświadczenia i biegłości w
                                    diagnostyce echokardiograficznej, kontroli i programowaniu stymulatorów serca. Pod
                                    nadzorem kierownika specjalizacji dr Agnieszki Drzewieckiej-Gerber poznałam podstawy
                                    echokardiograficznego badania przezprzełykowego. Asystowałam z dr. Maciejem Pruskim
                                    do ponad kilkuset zabiegów implantacji stymulatorów, kardiowerterów-defibrylatorów
                                    oraz układów resynchronizujących. </p>
                                <p style="text-indent: 50px">Samodzielnie wykonałam wymaganą szkoleniem ilość zabiegów,
                                    uzyskując Certyfikat Indywidualny Polskiego Towarzystwa Kardiologicznego operatora
                                    elektroterapii w zakresie implantacji stymulatorów serca oraz specjalisty kontroli
                                    urządzeń wszczepialnych. Pod nadzorem dr. Mariusza Hochuła szkoliłam się z podstaw
                                    wykonywania zabiegów koronarografii i krioablacji żył płucnych. Opiekuję się
                                    pacjentami włączonymi do badań klinicznych: EMPEROR, TWILIGHT, ABSORB, DESSOLVE,
                                    AEGIS. Jestem członkiem Polskiego Towarzystwa Kardiologicznego oraz European Heart
                                    Rhytm Association (EHRA).</p>
                                <img th:src="@{/images/about/second.jpg}" alt="" class="alignright img-responsive">
                                <p style="text-indent: 50px" >W trakcie trwania szkolenia specjalizacyjnego 2013-2015
                                    byłam stypendystką projektu DoktoRIS - Program stypendialny na rzecz innowacyjnego
                                    Śląska. Angażuję się aktywnie w profilaktykę i promocje zdrowia poprzez: Występ
                                    telewizyjny w ramach akcji Milion uczynków dla zdrowia organizowanej przez Fundację
                                    Giesche, artykuł w „Nasz Dziennik” 13 lipiec 2017 – Zdążyć przed zawałem, artykuł w
                                    „Nasz Dziennik” 8 wrzesień 2016 – Zawał serca. Uczestniczę w kursach i szkoleniach
                                    stale podnosząc swoją wiedzę i kwalifikacje aby zapewnić moim pacjentom najlepszą
                                    możliwą opiekę.</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>