<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>O mnie</title>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div class="header">
    <!-- navigation -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div id="navigation" class="navigation">
                    <ul>
                        <li class="active"><a th:href="@{/home/main}" title="Home" class="animsition-link">Strona
                            główna</a>
                        </li>
                        <li><a th:href="@{/#}" title="O_mnie" class="inactiveLink">O mnie</a>
                            <ul>
                                <li>
                                    <a th:href="@{/home/certificates}" title="Certyfikaty" class="animsition-link">Certyfikaty</a>
                                </li>
                                <li>
                                    <a th:href="@{/home/about}" title="Pasja" class="animsition-link">Kardiologia moją
                                        pasją</a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/home/services}" title="Usługi" class="animsition-link">Usługi i
                            diagnostyka</a>
                        <li><a th:href="@{/home/testimonials}" title="Opinie" class="animsition-link">Opinie</a>
                        </li>
                        <li><a th:href="@{/article/list}" title="Blog" class="animsition-link">Artykuły</a>
                        </li>
                        <li><a th:href="@{/home/contact}" title="Kontakt" class="animsition-link">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="content-area">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="post-holder mb40">
                        <div class="post-img mb30">
                            <img th:src="@{/images/about/main.jpg}" alt="" class="img-responsive"></div>
                        <div class="post-block mb40">
                            <div class="post-header mb20">
                                <h1 class="post-title mb30">Kilka słów o mnie</h1>
                            </div>
                            <hr>
                            <div class="post-content">
                                <p style="text-indent: 50px"> Jestem specjalistą kardiologiem z ponad 13-letnim
                                    doświadczeniem w zakresie kardiologii inwazyjnej, elektrofizjologii i
                                    elektrostymulacji. Odbyłam specjalizację w Polsko-Amerykańskich Klinikach Sercach w
                                    Tychach, gdzie pod opieką zespołu świetnych lekarzy zdobyłam umiejętności w
                                    diagnostyce echokardiograficznej, implantacji oraz kontroli stymulatorów serca. </p>
                                <p style="text-indent: 50px">Jestem certyfikowanym specjalistą Europejskiego Towarzystwa
                                    Zaburzeń Rytmu (EHRA) oraz Polskiego Towarzystwa Kardiologicznego w zakresie
                                    elektroterapii i kontroli urządzeń wszczepialnych. Moje doświadczenie obejmuje
                                    implantację stymulatorów i kardiowerterów-defibrylatorów. Regularnie uczestniczę w
                                    kursach i szkoleniach, stale podnosząc swoje kwalifikacje, aby zapewnić moim
                                    pacjentom opiekę na najwyższym poziomie.</p>
                                <img th:src="@{/images/about/second.jpg}" alt="" class="alignright img-responsive">
                                <p style="text-indent: 50px">Prowadzę pacjentów w licznych badaniach klinicznych w
                                    ośrodku, w którym pracuję. Moje zaangażowanie w badania kliniczne pozwala mi być na
                                    bieżąco z najnowszymi osiągnięciami medycyny i oferować pacjentom dostęp do
                                    innowacyjnych terapii.

                                    Jako lekarz kładę ogromny nacisk na empatię, dokładność i komunikację z pacjentami.
                                    Każdy aspekt diagnozy i leczenia szczegółowo wyjaśniam, aby pacjenci czuli się
                                    bezpiecznie i świadomie podejmowali decyzje dotyczące swojego zdrowia. Moje
                                    umiejętności i doświadczenie stanowią fundament mojej codziennej praktyki,
                                    zapewniając pacjentom kompleksową i nowoczesną opiekę kardiologiczną.</p>
                                <p style="text-indent: 50px"> Moje zaangażowanie w profilaktykę i promocję zdrowia
                                    znajduje odzwierciedlenie w licznych wystąpieniach telewizyjnych oraz artykułach
                                    prasowych. Aktywnie uczestniczę w inicjatywach mających na celu podnoszenie
                                    świadomości społecznej na temat chorób serca, aby wspierać moich pacjentów i całą
                                    społeczność w dążeniu do lepszego zdrowia. </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>