<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Artykuły</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="content-area">
                    <div th:each="article : ${articles}" class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="post-holder mb40">
                                <div class="post-img mb40">
                                    <a th:href="@{${'/selected/' + article.getFileName()}}" class=" imghover"><img th:src="@{${ article.getImgSrc()}}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="post-sticky"></div>
                                <div class="post-block">
                                    <div class="post-header mb20">
                                        <h1 class="post-title mb30">
                                            <a th:text="${article.getTitle()}" th:href="@{${'/selected/' + article.getFileName()}}" class="title"></a>
                                        </h1>
                                        <div class="post-meta">
                                            <span class="meta-date"><i class="fa fa-calendar"></i> August 24, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comments"></i> <a href="#" class="meta-link">05 Comment </a></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="post-content">
                                        <p th:text="${article.getLead() + '.'}"></p>
                                        <a th:href="@{${'/selected/' + article.getFileName()}}" class="btn btn-default">Czytaj więcej</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="st-pagination">
                            <!--st-pagination-->
                            <ul class="pagination">
                                <li><a href="#" aria-label="previous"><span aria-hidden="true">previous</span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">next</span></a></li>
                            </ul>
                        </div>
                        <!--/.st-pagination-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="sidebar-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="widget widget-search pinside30 mb40">
                                <h2 class="widget-title mb30">Searchbar</h2>
                                <hr>
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Here" aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2"> <i class="fa fa-search"></i></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class=" widget widget-categories pinside30">
                                <h2 class="widget-title">Categories</h2>
                                <hr>
                                <ul class="listnone bullet bullet-angle-right mb0">
                                    <li><a href="#">Diagnostic Cardiac</a></li>
                                    <li><a href="#">Vascular Dignostic</a></li>
                                    <li><a href="#">Invasive Procedures</a></li>
                                    <li><a href="#">Vein Clinic Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class=" widget widget-archives pinside30 mb40">
                                <h2 class="widget-title">Archives</h2>
                                <hr>
                                <ul class="listnone bullet bullet-angle-right mb0">
                                    <li><a href="#">February (2017)</a></li>
                                    <li><a href="#">December (2016)</a></li>
                                    <li><a href="#">July (2016)</a></li>
                                    <li><a href="#">January (2016)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="widget widget-recent-post pinside30 mb40">
                                <h2 class="widget-title">Recent post</h2>
                                <hr>
                                <div class="recent-block mb20">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5">
                                            <div class="recent-pic">
                                                <a href="#"><img src="images/recent-pic1.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-7">
                                            <h3 class="recent-title mb10">
                                                <a href="#" class="title">Medication Management and Heart Disease</a>
                                            </h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            </div>
                                            <!-- /.post meta -->
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-block mb20">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5">
                                            <div class="recent-pic">
                                                <a href="#"><img src="images/recent-pic2.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-7">
                                            <h3 class="recent-title mb10">
                                                <a href="#" class="title">Medication Management and Heart Disease</a>
                                            </h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            </div>
                                            <!-- /.post meta -->
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-block mb20">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5">
                                            <div class="recent-pic">
                                                <a href="#"><img src="images/recent-pic3.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-7">
                                            <h3 class="recent-title mb10">
                                                <a href="#" class="title">The Importance of Good Medication Management</a>
                                            </h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            </div>
                                            <!-- /.post meta -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <!--  tags -->
                            <div class="widget widget-tags mb40">
                                <h2 class="widget-title">Tags</h2>
                                <hr>
                                <!-- widget title -->
                                <a href="#" title="Dignosis">Dignosis</a> <a href="#" title="Cardiac">Cardiac</a>
                                <a href="#" title="Clinic">Clinic</a>
                                <a href="#" title="Invasive Procedured">Invasive Procedured</a>
                                <a href="#" title="Vascular">Vascular</a> <a href="#" title="Cardiac">Cardiac</a>
                                <a href="#" title="medical">medical</a></div>
                            <!-- /.widget well bg -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>