<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Artykuły</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="sidebar-area">
                    <div class="row">

                        <!--                        <div class="col-md-12 col-sm-12">-->
                        <!--                            <div class=" widget widget-categories pinside30">-->
                        <!--                                <h2 class="widget-title">Categories</h2>-->
                        <!--                                <hr>-->
                        <!--                                <ul class="listnone bullet bullet-angle-right mb0">-->
                        <!--                                    <li><a href="#">Diagnostic Cardiac</a></li>-->
                        <!--                                    <li><a href="#">Vascular Dignostic</a></li>-->
                        <!--                                    <li><a href="#">Invasive Procedures</a></li>-->
                        <!--                                    <li><a href="#">Vein Clinic Services</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-12 col-sm-12">-->
                        <!--                            <div class=" widget widget-archives pinside30 mb40">-->
                        <!--                                <h2 class="widget-title">Archives</h2>-->
                        <!--                                <hr>-->
                        <!--                                <ul class="listnone bullet bullet-angle-right mb0">-->
                        <!--                                    <li><a href="#">February (2017)</a></li>-->
                        <!--                                    <li><a href="#">December (2016)</a></li>-->
                        <!--                                    <li><a href="#">July (2016)</a></li>-->
                        <!--                                    <li><a href="#">January (2016)</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="col-lg-12 col-md-12">
                            <div class="widget widget-recent-post pinside30 mb40">
                                <h2 class="widget-title">Najnowsze artykuły</h2>
                                <hr>
                                <div th:each="article : ${articles}" class="recent-block mb20">
                                    <div th:if="${articleStat.index} < 3" class="row">
                                        <div class="col-lg-4 col-md-5">
                                            <div class="recent-pic">
                                                <a th:href="@{${'/article/selected/' + article.getFileName()}}"><img th:src="@{${'/' + article.getImgSrc()}}" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-7">
                                            <h3 class="recent-title mb10">
                                                <a th:href="@{${'/article/selected/' + article.getFileName()}}" th:text="${article.getTitle()}" class="title"></a>
                                            </h3>
                                            <div class="post-meta">
                                                <span class="meta-date"><i class="fa fa-calendar"></i><th:block th:text="${#temporals.format(article.getCreated(), 'dd-MMM-yyyy HH:mm')}"></th:block></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="widget widget-search pinside30 mb40">
                                <h2 class="widget-title mb30">Wyszukaj artykuł</h2>
                                <hr>
                                <form>
                                    <div class="input-group">
                                        <input type="text" id="searchBar" class="form-control" placeholder="Szukaj" aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2"> <i class="fa fa-search"></i></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="col-md-12 col-sm-12">-->
                    <!--                        &lt;!&ndash;  tags &ndash;&gt;-->
                    <!--                        <div class="widget widget-tags mb40">-->
                    <!--                            <h2 class="widget-title">Tags</h2>-->
                    <!--                            <hr>-->
                    <!--                            &lt;!&ndash; widget title &ndash;&gt;-->
                    <!--                            <a href="#" title="Dignosis">Dignosis</a> <a href="#" title="Cardiac">Cardiac</a>-->
                    <!--                            <a href="#" title="Clinic">Clinic</a> <a href="#" title="Invasive Procedured">Invasive-->
                    <!--                            Procedured</a> <a href="#" title="Vascular">Vascular</a>-->
                    <!--                            <a href="#" title="Cardiac">Cardiac</a> <a href="#" title="medical">medical</a></div>-->
                    <!--                        &lt;!&ndash; /.widget well bg &ndash;&gt;-->
                    <!--                    </div>-->
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="content-area">
                    <div th:each="article : ${articles}" class="row">
                        <div class="articleWrapper">
                            <div class="col-lg-12 col-md-12">
                                <div class="post-holder mb40">
                                    <div class="post-img mb40">
                                        <a th:href="@{${'/article/selected/' + article.getFileName()}}" class=" imghover"><img th:src="@{${'/' + article.getImgSrc()}}" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="post-sticky"></div>
                                    <div class="post-block">
                                        <div class="post-header mb20">
                                            <h1 class="post-title mb30">
                                                <a th:text="${article.getTitle()}" th:href="@{${'/article/selected/' + article.getFileName()}}" class="title"></a>
                                            </h1>
                                            <div class="post-meta">
                                                <span class="meta-date"><i class="fa fa-calendar"></i><th:block th:text="${#temporals.format(article.getCreated(), 'dd-MMM-yyyy HH:mm')}"></th:block></span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="post-content">
                                            <p th:text="${article.getLead() + '.'}"></p>
                                            <a th:href="@{${'/article/selected/' + article.getFileName()}}" class="btn btn-default">Czytaj
                                                więcej</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
<script>
    /** turn off enter in all page and search bar */
    window.addEventListener('keydown', function (e) {
        if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
            if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                e.preventDefault();
                return false;
            }
        }
    }, true);

    /** search bar logic */
    document.addEventListener('DOMContentLoaded', () => {

        const getSearchBar =
            document.querySelector('#searchBar');
        const getAllMovies =
            document.querySelectorAll('.articleWrapper');

        getSearchBar.addEventListener('keyup', e => {
            getAllMovies.forEach(movie => {
                if (movie.innerText.toLowerCase().includes(
                    e.target.value.toLowerCase())) {
                    movie.style.display = 'block';
                    return movie;
                } else {
                    movie.style.display = 'none';
                }
            });
        });
    });
</script>
</body>
</html>