<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Certyfikaty</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="section-space80"><!-- section-space80 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center mb60">
                <h1>Stale podnoszę swoją wiedzę i kwalifikacje aby zapewnić Wam najlepszą opiekę.</h1>
                <p>Oto kursy i szkolenia w których uczesniczyłam w ostatnim czasie.</p>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/a167T000005b5c7_EHRA2023_CME-Certificate.pdf}" class="imghover"><img
                                        th:src="@{/cert/a167T000005b5c7_EHRA2023_CME-Certificate-thumbnail.jpg}"
                                        class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/certyfikatPTK2022.pdf}" class="imghover"><img
                                        th:src="@{/cert/certyfikatPTK2022-thumbnail.jpg}" class="img-responsive"
                                        alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/Katarzyna_Maria_Czarnecka_Course-EHRA-EPC-02-04-05-2024_CME-Certificate-thumbnail.pdf}"
                                   class="imghover"><img
                                        th:src="@{/cert/Katarzyna_Maria_Czarnecka_Course-EHRA-EPC-02-04-05-2024_CME-Certificate-thumbnail.jpg}"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/POLECHO_CERT2024.pdf}" class="imghover"><img
                                        th:src="@{/cert/POLECHO_CERT2024-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/POLSTIM2023_ID.pdf}" class="imghover"><img
                                        th:src="@{/cert/POLSTIM2023_ID-thumbnail.jpg}" class="img-responsive"
                                        alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/UEMS Certificate.pdf}" class="imghover"><img
                                        th:src="@{/cert/UEMS Certificate-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/UEMS Certificate (1).pdf}" class="imghover"><img
                                        th:src="@{/cert/UEMS Certificate (1)-thumbnail.jpg}" class="img-responsive"
                                        alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{/cert/PTK2023_Certyfikat.pdf}" class="imghover"><img
                                        th:src="@{/cert/PTK2023_Certyfikat-thumbnail.jpg}" class="img-responsive"
                                        alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>„Ochrona własności intelektualnej” i „Komercjalizacja własności intelektualnej” w ramach
                        programu stypendialnego na rzecz innowacyjnego Śląska -DoktoRIS
                    </li>
                    <li>6th International Warsaw Ablation Workshops, 16-17.01.2020
                    </li>
                    <li>Kurs „Inwazyjne leczenie migotania przedsionków z kursem nakłucia transseptalnego 23.02.2020
                        organizowany przez Śląski Park Technologii Medycznych Kardio-Med Silesia w Zabrzu
                    </li>
                    <li>DIGITAL EHRA Cardiac Pacing, ICD and cardiac resynchronisation 2020 29-31.10.2020</li>
                    <li>Kasprowisko 2021 14-17.04.2021
                    </li>
                    <li>ICE The International Congress on Electrocardiology 2021 15-17.04.2021</li>
                    <li>POLSTIM 2022, XXXIII Konferencja Sekcji Rytmu Serca PTK, 19-21 maja 2022 r. w Katowicach.
                    </li>
                    <li>PolEcho 2022, XXIII Konferencja Asocjacji Echokardiografii, 6-7 maja 2022 r. w Katowicach.
                    </li>
                    <li>XXVI Międzynarodowy Kongres Polskiego Towarzystwa Kardiologicznego, Katowice, 22-24 września
                        2022 r.
                    </li>
                    <li>4th Warsaw Cardioneuroablation Workshop 6-7th of September, 2022
                    </li>
                    <li>POLSTIM 2023, XXXIV Konferencja Sekcji Rytmu Serca Polskiego Towarzystwa Kardiologicznego,
                        Kraków 2-4 czerwca 2023 r.
                    </li>
                    <li>„Prowadzenie pacjenta ze wszczepionym układem stymulującym serce i programowanie stymulatorów
                        serca – PPMf1” 24-25 czerwca 2014 – kurs organizowany przez Warszawskie Centrum Edukacyjne
                        Medtronic
                    </li>
                    <li>XXVII Międzynarodowym Kongresie Polskiego Towarzystwa Kardiologicznego, Poznań, 28-30 września
                        2023 r.
                    </li>
                    <li>EHRA Conduction System Pacing (CSP) Summit 2023, 15.04.2023
                    </li>
                    <li>EHRA 2023 Barcelona, Spain, 16 – 18 April 2023
                    </li>
                    <li>PolEcho 2024, Szkolenie akredytacyjne Asocjacji Echokardiografii PTK, Kraków, 10-11 maja 2024r.
                    </li>
                    <li>Innovations in ICD therapy: from transvenous to extravascular 07.02.2024.</li>
                    <li>The EHRA Interventional Electrophysiology and Examination Preparatory Course (EPC) Budapest,
                        Hungary, 02 - 04 May 2024 organized by European Society of Cardiology
                    </li>
                    <li>Medtronic & Vitatron Educational Program-Puerto Rico-May 20-24,2024
                    </li>
                </ul>
                <h2 class="mt30">Publikacja</h2>
                <ul>
                    <li>M. Pruski J, K. Czarnecka, B. Orlik: Rezonans magnetyczny w kardiologii inwazyjnej – niezbędne
                        narzędzie diagnostyczne, OPM, 2013, 08, str. 51
                    </li>
                </ul>
                <h2 class="mt30">Prezentacje</h2>
                <ul>
                    <li>IX Konferencja Naukowa SZKI, 17-19 marzec 2016, prezentacja w sesji dla pielęgniarek „Mam
                        wszczepiony kardiowerter-defibrylator. Jak zmieni się moje życie”.
                    </li>
                    <li>VII Konferencja Nauowa SZKI, 10-11 września 2015, prezentacja w sesji dla pielęgniarek i
                        techników „Podstawy elektroterapii”.
                    </li>
                    <li>Warsztaty „ICD Train 2014” Neuhardenberg Niemcy, prezentacja przypadku klinicznego pacjenta.
                    </li>
                    <li>Ustna prezentacja na XXVII Konferencji Sekcji Rytmu Serca PTK POLSTIM, 19-21 maja 2016,Wisła,
                        „Prospektywna ocena kliniczna pacjentów poddanych zabiegowi krioablacji żył płucnych z powodu
                        migotania przedsionków z wykorzystaniem systemu drugiej generacji”
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>