<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Certyfikaty</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="section-space80"><!-- section-space80 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center mb60">
                <h1>Stale podnoszę swoją wiedzę i kwalifikacje aby zapewnić Wam najlepszą opiekę.</h1>
                <p>Oto kursy i szkolenia w których uczesniczyłam w ostatnim czasie.</p>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/NIDA.pdf}" class="imghover"><img th:src="@{cert/NIDA-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/masterclass.pdf}" class="imghover"><img th:src="@{cert/masterclass-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/ebaccertificate.pdf}" class="imghover"><img th:src="@{cert/ebaccertificate-thumbnail.jpg}"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/coronary-essentials.pdf}" class="imghover"><img th:src="@{cert/coronary-essentials-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/ebaccertificate-2.pdf}" class="imghover"><img th:src="@{cert/ebaccertificate-2-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/pacemaker-essentials.pdf}" class="imghover"><img th:src="@{cert/pacemaker-essentials-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/THT-cert.pdf}" class="imghover"><img th:src="@{cert/THT-cert-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{cert/elektroterapia-cert.pdf}" class="imghover"><img th:src="@{cert/elektroterapia-cert-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>Certyfikat – Lekarze w trójwymiarze – szkolenia z diagnostyki obrazowej USG, Szkolenie
                        specjalistyczne z zakresu USG naczyń krwionośnych, 8-10.02.2013, Jaworzno
                    </li>
                    <li>III Konferencja Naukowa Stowarzyszenia Zawodowego Kardiologów Interwencyjnych (SZKI),
                        21-23.02.2013, Ustroń
                    </li>
                    <li>I Akademia Elektrostymulacji: Podstawy programowania i implantacji stymulatorów wg aktualnych
                        zaleceń –Certyfikat, 20-22.03.2013, Łochów
                    </li>
                    <li>I Konferencja „W sercu Łodzi”, 12-13.04.2013, Łódź</li>
                    <li>Kurs kardiologii interwencyjnej, 7-8.06.2013 w Zabrzu zorganizowany przez Śląskie Centrum Chorób
                        Serca, XX Jubileuszowa Miedzynarodowa Konferencja Kardiologiczna, Zabrze, 7-8.06.2013
                    </li>
                    <li>Amsterdam, 31.08-4.09.2013, European Society of Cardiology Congress</li>
                    <li>Bruksela, 24.10.2013, „Cryoballoon Training Program” warsztaty w technice krioablacji żył
                        płucnych, Heart Rythm Management Centre, University Hospital VUB,
                    </li>
                    <li>Zamość, 01-06.12.2013, „Podstawy echokardiografii” – kurs organizowany przez Roztoczańską Szkołę
                        Ultrasonografii,
                    </li>
                    <li>V Konferencja Naukowa Stowarzyszenia Zawodowego Kardiologów Interwencyjnych (SZKI), 5-6 marca
                        2014, Ustroń
                    </li>
                    <li>XXI Międzynarodowa Konferencja Kardiologiczna, 29-30 Maj 2014, Zabrze</li>
                    <li>XXV Konferencja Sekcji Rytmu Serca PTK, POLSTIM 2014, 5-7 czerwca 2014, Łódź</li>
                    <li>„Prowadzenie pacjenta ze wszczepionym układem stymulującym serce i programowanie stymulatorów
                        serca – PPMf1” 24-25 czerwca 2014 – kurs organizowany przez Warszawskie Centrum Edukacyjne
                        Medtronic
                    </li>
                    <li>XVIII Międzynarodowy Kongres Polskiego Towarzystwa Kardiologicznego 18-20 września 2014 Poznań
                    </li>
                    <li>Neuhardenberg, Germany, 24-26 wrzesień 2014, warsztaty „ICD Train 2014” organizowane przez
                        Biotronic Polska i Akademię Elektroterapii Advanced Programming and Troubleshooting ICD/CRT-D
                    </li>
                    <li>VI Konferencja Naukowa Stowarzyszenia Zawodowego Kardiologów Interwencyjnych (SZKI), 2-3
                        październik 2014; Ustroń;
                    </li>
                    <li>International Summit on Imaging and Intervention in Cardiology (ISIIC) 2014, 16-17 październik
                        2014, Katowice;
                    </li>
                    <li>V Konferencja w Dobrym Rytmie, 7-8 listopad 2014, Warszawa;</li>
                    <li>EACVI webinar on Imaging in TAVI procedures 3 Lipiec 2015</li>
                    <li>XXII Międzynarodowa Konferencja Kardiologiczna oraz XVI Warsztaty Kardiologii Inwazyjnej, 28-29
                        maj 2015, Zabrze;
                    </li>
                    <li>III Konferencja Intensywnej Terapii Kardiologicznej, 21 marzec 2015, Katowice;</li>
                    <li>Med Trends Polsko-Brytyjskie Forum Nowoczesnej Ochrony Zdrowia, 27-28 marzec 2015, Zabrze;</li>
                    <li>EHRA EP Preparatory course 15-17 październik 2015, Sophia Antipolis, Francja;</li>
                    <li>EHRA Cardiac Pacing, ICD and Cardiac Resynchronisation, 24-26 March 2016, Wiedeń, Austria</li>
                    <li>XXIII Międzynarodowa Konferencja Kardiologiczna 2-3 czerwiec 2016, Zabrze</li>
                    <li>Szkolenie z zakresu krioablacji balonowej migotania przedsionków, 14-15 czerwiec 2016 Warszawa;
                    </li>
                    <li>International Summit on Imaging and Intervention in Cardiology (ISIIC) 2015, 17-18 wrzesień
                        2015, Katowice;
                    </li>
                    <li>Opieka nad pacjentem po implantacji ICD, programowanie i kontrola ICD – kurs dla zaawansowanych
                        ICDf2, 26-27 styczeń 2016 - kurs organizowany przez Warszawskie Centrum Edukacyjne Medtronic;
                    </li>
                    <li>XVIII Ogólnopolskiej Konferencji Sekcji Echokardiografii PTK 3-4 czerwiec 2016, Katowice;</li>
                    <li>Opieka nad pacjentem z implantowanym układem do stymulacji resynchronizującej serce CRTf, 8-9
                        marzec 2016 -kurs organizowany przez Warszawskie Centrum Edukacyjne Medtronic Poland,
                    </li>
                    <li>Warsztaty echokardiograficzne Echo-Expert 9-10 września 2016, Brzesko</li>
                    <li>International Summit on Imaging and Intervention in Cardiology (ISIIC) 2016, 29-30 wrzesień
                        2016, Katowice;
                    </li>
                    <li>Stała stymulacja serca – rozwiązywanie problemów. Warsztaty decyzyjne dla zaawansowanych –
                        PPMf3.18-19 październik 2016 - kurs organizowany przez Warszawskie Centrum Edukacyjne Medtronic
                        Poland
                    </li>
                    <li>4th Transcatheter Heart Team Poland Conference, training in TAVI and LAA procedures, 2-3 marzec,
                        2017, Katowice;
                    </li>
                    <li>XIX Ogólnopolska Konferencja Sekcji Echokardiografii PTK, 12-13 maj 2017, Lublin;</li>
                    <li>XXIV Międzynarodowa Konferencja Kardiologiczna, I Warsztaty Echokardiografii, 7-9 czerwiec 2017,
                        Zabrze;
                    </li>
                    <li>VIII Konferencja w “Dobrym Rytmie”, 3-4 listopad 2017, Toruń</li>
                    <li>Interaktywne warsztaty Echokardiograficzne, 28 paźdiernik 2017, Katowice</li>
                    <li>XXI Międzynarodowy Kongres PTK, 21-23 wrzesień 2017, Katowice</li>
                    <li>Warsztat Akredytacyjny Sekcji Echokardiografii PTK, 13 styczeń 2018, Katowice;</li>
                    <li>Warsztaty z zakresu Echokardiografii Przezprzełykowej – kurs zaawansowany, 25-26 Maj 2018,
                        Zabrze;
                    </li>
                    <li>XXIX Konferencja Sekcji Rytmu Serca PTK Polstim 2018, Wrocław, 17-19 maja 2018,</li>
                    <li>Warsztaty Preceptorship Niewydolność serca w praktyce klinicznej, 7-8 listopad 2018, Zabrze</li>
                    <li>Echokardiografiaw praktyce klinicznej. Praltyczne warsztaty z zakresu Echokardiografii
                        Przezprzełykowej 16.11.2018, katowice,
                    </li>
                    <li>EHRA Congress 2019, Lizbona, 17-19 marzec 2019</li>
                </ul>
                <h2 class="mt30">Publikacja</h2>
                <ul>
                    <li>M. Pruski J, K. Czarnecka, B. Orlik: Rezonans magnetyczny w kardiologii inwazyjnej – niezbędne
                        narzędzie diagnostyczne, OPM, 2013, 08, str. 51
                    </li>
                </ul>
                <h2 class="mt30">Prezentacje</h2>
                <ul>
                    <li>IX Konferencja Naukowa SZKI, 17-19 marzec 2016, prezentacja w sesji dla pielęgniarek „Mam
                        wszczepiony kardiowerter-defibrylator. Jak zmieni się moje życie”.
                    </li>
                    <li>VII Konferencja Nauowa SZKI, 10-11 września 2015, prezentacja w sesji dla pielęgniarek i
                        techników „Podstawy elektroterapii”.
                    </li>
                    <li>Warsztaty „ICD Train 2014” Neuhardenberg Niemcy, prezentacja przypadku klinicznego pacjenta.
                    </li>
                    <li>Ustna prezentacja na XXVII Konferencji Sekcji Rytmu Serca PTK POLSTIM, 19-21 maja 2016,Wisła,
                        „Prospektywna ocena kliniczna pacjentów poddanych zabiegowi krioablacji żył płucnych z powodu
                        migotania przedsionków z wykorzystaniem systemu drugiej generacji”
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>