<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Kontakt</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="widget widget-contact">
                            <h2 class="widget-title">Śledź nas</h2>
                            <hr>
                            <address><i class="fa fa-map-marker"></i> Bogedaina 41<br> 43-200, Pszczyna, śląskie
                            </address>
                            <ul class="listnone contact">
                                <li><i class="fa fa-phone"></i>792 327 604 <br> 32 447 09 70</li>
                                <li><i class="fa fa-envelope-o"></i>strefaserca@gmail.com</li>
                            </ul>
                        </div>
                        <div class="alert alert-success fade out text-center    " id="bsalert">
                            <strong class="text-center">Wysłano wiadomość</strong>
                        </div>
                    </div>
                    <!--                    <div class="col-md-12 col-sm-12">-->
                    <!--                        <div class="widget widget-follwus">-->
                    <!--                            <h2 class="widget-title">Opening Hours</h2>-->
                    <!--                            <hr>-->
                    <!--                            <div class="opening-time">-->
                    <!--                                <span>Mon-Fri</span><strong class="pull-right">8:00am-7:00pm</strong>-->
                    <!--                                <br>-->
                    <!--                                <span>Saturday </span><strong class="pull-right">9:00am–5:00pm</strong>-->
                    <!--                                <br>-->
                    <!--                                <span>Sunday </span><strong class="pull-right">9:00am–3:00pm</strong>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-12 col-sm-12">-->
                    <!--                        <div class="widget widget-follwus">-->
                    <!--                            <h2 class="widget-title">Follw Us</h2>-->
                    <!--                            <hr>-->
                    <!--                            <div class="social-icon">-->
                    <!--                                <a href="#" class="solcial-link"><i class="fa fa-facebook-square"></i></a>-->
                    <!--                                <a href="#" class="solcial-link"><i class="fa fa-twitter-square"></i></a>-->
                    <!--                                <a href="#" class="solcial-link"><i class="fa fa-google-plus-square"></i></a>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
            <!--            <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
            <!--                <strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
            <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                    <span aria-hidden="true">&times;</span>-->
            <!--                </button>-->
            <!--            </div>-->
            <div class="col-md-8 col-sm-8">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h1>Zadaj mi pytanie</h1>
                        <p>Postaram się odpowiedzieć jak najszybciej</p>
                        <form action="ask_question" id="ask_question_form" method="post" class="form">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-10 control-label" for="name">Imię<span class="required">*</span></label>
                                <div class="col-md-10">
                                    <input id="name" name="user_name" type="text" placeholder="" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-10 control-label" for="email">Email <span class="required">*</span></label>
                                <div class="col-md-10">
                                    <input id="email" name="email" type="email" placeholder="" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-10 control-label" for="phone">Telefon</label>
                                <div class="col-md-10">
                                    <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <!--                            <div class="form-group">-->
                            <!--                                <label class="col-md-10 control-label" for="selectbasic">Opcje</label>-->
                            <!--                                <div class="col-md-10">-->
                            <!--                                    <select id="selectbasic" name="selectbasic" class="form-control">-->
                            <!--                                        <option value="1">Option one</option>-->
                            <!--                                        <option value="2">Option two</option>-->
                            <!--                                    </select>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-10 control-label" for="textarea">Treść
                                    pytania <span class="required">*</span></label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="7" id="textarea" name="textarea"></textarea>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <button id="question_submit_button" name="singlebutton" class="btn btn-primary" type="button">
                                    Wyślij
                                </button>
                                <span class="required pull-right">* Pola wymagane</span>
                            </div>
                        </form>
                        <!--                        <div class="alert alert-info fade out" id="bsalert">-->
                        <!--                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
                        <!--                            <strong>Info!</strong> Wysłano zapytanie !-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map" id="googleMap"></div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
<script>
    function initMap() {
        var myLatLng = {
            lat: 49.973131,
            lng: 18.947799

        };

        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 15,
            center: myLatLng,
            scrollwheel: false,

        });
        var image = 'images/map-pin.png';
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            title: 'Tu mnie spotkasz'
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATsgulDfXOI9g7JwR0LzZdbUZB6LqEQiY&callback=initMap"></script>
</body>
</html>
