<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Diagnostyka</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center mb60">
                <h1>Usługi oraz diagnostyka kardiologiczna</h1>
                <p>Przeczytaj, zostań ekspertem i dowiedz się co Cię czeka</p>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service-block text-center mb60">
                            <div class="service-img mb30">
                                <a th:href="@{'/service/selected/Echokardiografia'}" class="imghover"><img th:src="@{/images/cardio_services/echo-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                            <h2><a th:href="@{'/service/selected/Echokardiografia'}" class="heading-title">Echokardiografia</a>
                            </h2>
                            <p>Bardzo ważne badanie, podstawa diagnostyki kardiologicznej zaraz po elektrokardiogramie,
                                ale jego rola często jest przeceniana.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-block text-center mb60">
                            <div class="service-img mb30">
                                <a th:href="@{'/service/selected/Holter_EKG'}" class="imghover"><img th:src="@{/images/cardio_services/holter-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                            <h2><a th:href="@{'/service/selected/Holter_EKG'}" class="heading-title">Holter EKG</a></h2>
                            <p>To bezinwazyjne, proste badanie jest bardzo ważną częścią diagnostyki
                                kardiologicznej.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-block text-center mb60">
                            <div class="service-img mb30">
                                <a th:href="@{'/service/selected/Holter_RR'}" class="imghover"><img th:src="@{/images/cardio_services/holter-RR-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                            <h2><a th:href="@{'/service/selected/Holter_RR'}" class="heading-title">Holter
                                ciśnieniowy</a></h2>
                            <p>Całodobowy, automatyczny pomiar ciśnienia tętniczego wykonywany co 15-30 minut.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-block text-center mb60">
                            <div class="service-img mb30">
                                <a th:href="@{'/service/selected/Kontrola_stymulatora'}" class="imghover"><img th:src="@{/images/cardio_services/stymulator-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                            <h2><a th:href="@{'/service/selected/Kontrola_stymulatora'}" class="heading-title">Kontrola
                                stymulatora</a></h2>
                            <p> Pierwsza kontrola po zabiegu jest najważniejsza.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-block text-center mb60">
                            <div class="service-img mb30">
                                <a th:href="@{'/service/selected/Koronarografia'}" class="imghover"><img th:src="@{/images/cardio_services/koro-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                            <h2>
                                <a th:href="@{'/service/selected/Koronarografia'}" class="heading-title">Koronarografia</a>
                            </h2>
                            <p>Badanie wykonywane w trakcie hospitalizacji na oddziale kardiologii inwazyjnej.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-block text-center">
                            <div class="service-img mb30">
                                <a th:href="@{'/service/selected/Test_wysiłkowy'}" class="imghover"><img th:src="@{/images/cardio_services/test-thumbnail.jpg}" class="img-responsive" alt=""/></a>
                            </div>
                            <h2><a th:href="@{'/service/selected/Test_wysiłkowy'}" class="heading-title">Test
                                wysiłkowy</a></h2>
                            <p>Jedno z podstawowych badań, przeprowadzanych w gabinecie kardiologicznym.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>