<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Opinie</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">The costs of treatments are very reasonable. I have always been
                        impressed with the results. The fully medically qualified team. thank you so much.</p>
                    <span class="testimonial-text">- Maria Willmore</span>
                    <br>
                    <span class="testimonial-meta">patients</span>
                </div>
                <!-- /.testimonial info -->
            </div>
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">Thank you for caring for me. Thank you also for taking time during
                        office visit and not making me feel like a number lorem ipsum dolor sitamet nullas. </p>
                    <span class="testimonial-text">-Maria Charboneau</span>
                    <br>
                    <span class="testimonial-meta">patients</span>
                </div>
                <!-- /.testimonial info -->
            </div>
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">I am very fortunate to have found DR. siyani rao, besides being a
                        Cardio with excellent qualifications &amp; background, has credentials in Functional
                        Medicine.</p>
                    <span class="testimonial-text">- Nancy  Moore</span>
                    <br>
                    <span class="testimonial-meta">patients</span>
                </div>
                <!-- /.testimonial info -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">It is almost impossible to find a Functional Medical Practitioner on
                        Long Island &amp; to find someone who is so caring, as DR. siyani rao is gift. I just want to
                        say thank you.</p>
                    <span class="testimonial-text">- Alberto B. Mitchell</span>
                    <br>
                    <span class="testimonial-meta">patients</span>
                </div>
                <!-- /.testimonial info -->
            </div>
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">It was very nice and easy to speak with. She took her time with me
                        and answered my questions, explained the course of action she is going to take to address my
                        health issues.</p>
                    <span class="testimonial-text">- Ryan Neely</span>
                    <br>
                    <span class="testimonial-meta">patients</span>
                </div>
                <!-- /.testimonial info -->
            </div>
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">Dr. Siyani rao always kind and patient with me and takes the time to
                        explain things clearly. She is an asset to her field and her staff is very kind as well. </p>
                    <span class="testimonial-text">- Linda Jones</span>
                    <br>
                    <span class="testimonial-meta">patients</span>
                </div>
                <!-- /.testimonial info -->
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>