<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Opinie</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" th:each="testimonial : ${testimonials}">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info"><!-- testimonial info -->
                    <p class="testimonial-content" th:text="${testimonial.getText()}"></p>
                    <span class="testimonial-text" th:text="${testimonial.getName()}"></span><br> <span
                            class="testimonial-meta" th:text="${testimonial.getDate()}"></span>
                </div><!-- /.testimonial info -->
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>