<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/core_fragments.html :: headerfiles">
    <title>Opinie</title>
</head>
<body class="animsition">
<div th:replace="fragments/core_fragments.html :: topHeader"></div>
<div th:replace="fragments/core_fragments.html :: pageHeader"></div>
<div class="content">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">Jestem po wszczepieniu stymulatora serca, u Pani doktor byłem już 6
                        raz. Przy każdej wizycie mam przeprowadzone szczegółowe badania oraz dostaję instrukcję do
                        dalszego leczenia. Jestem bardzo zadowolony i polecam Panią Doktor.</p>
                    <span class="testimonial-text">- Józef, 76 lat</span> <br> <span class="testimonial-meta">16 grudnia 2019</span>
                </div>
                <!-- /.testimonial info -->
            </div>
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">Będąc osiemdziesięciolatkiem od roku leczę się u Pani dr Katarzyny.
                        Przeprowadzone ostatnio szczegółowe badania wykazały poprawę mojego zdrowia, co świadczy o
                        skuteczności leczenia. Ponadto chciałbym dodać, że życzliwy i empatyczny stosunek do pacjentów
                        stwarza miłą atmosferze w czasie wizyty.</p>
                    <span class="testimonial-text">- Pacjent</span> <br>
                    <span class="testimonial-meta">10 grudnia 2019</span>
                </div>
                <!-- /.testimonial info -->
            </div>
            <div class="col-md-4">
                <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info">
                    <!-- testimonial info -->
                    <p class="testimonial-content">Test wykonano w bardzo przyjemnej atmosferze. Pani kardiolog
                        wytłumaczyła i odpowiedziała na moje pytania rzeczowo i na temat. Życzę każdemu takiej
                        wizyty. </p>
                    <span class="testimonial-text">- Pacjent</span> <br>
                    <span class="testimonial-meta">8 września 2019 </span>
                </div>
                <!-- /.testimonial info -->
            </div>
        </div>
        <div class="row mb60">
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="testimonial-info">
                        <!-- testimonial info -->
                        <p class="testimonial-content">Pani doktor zrobiła na mnie dobre wrażenie swoją osobą i
                            spokojnym usposobieniem. Bardzo profesjonalnie wykonuje test wysiłkowy i udziela cennych
                            porad , mnie skutecznie przekonała do poddania się zabiegowi koronarografii. Gorąco
                            polecam.</p>
                        <span class="testimonial-text">- Pacjent</span> <br> <span class="testimonial-meta">10 sierpnia 2019</span>
                    </div>
                    <!-- /.testimonial info -->
                </div>
                <div class="col-md-4">
                    <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="testimonial-info">
                        <!-- testimonial info -->
                        <p class="testimonial-content">Starannie przeprowadzony wywiad, rzetelne badania, doskonała
                            diagnoza, wyczerpujące wyjaśnienia, świetny kontakt z pacjentem, ponadnormatywne
                            zaangażowanie w organizację badań dodatkowych. Kompetentna i warta polecenia.</p>
                        <span class="testimonial-text">- Pacjent</span> <br> <span class="testimonial-meta">11 października 2018</span>
                    </div>
                    <!-- /.testimonial info -->
                </div>
                <div class="col-md-4">
                    <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="testimonial-info">
                        <!-- testimonial info -->
                        <p class="testimonial-content">Pani doktor dokładnie mnie przebadała gdy przyjechałem do niej na
                            wizytę z problemem kołatania serca. Przeprowadziła badanie echo sondą, zebrała dokładne
                            informacje na temat dolegliwości, z uwagą odniosła się do wszystkich przedstawionych
                            informacji. Pani doktor ma bardzo dobry kontakt z pacjentem, i dużą wiedzę medyczną.</p>
                        <span class="testimonial-text">- Pacjent</span> <br> <span class="testimonial-meta">28 marca 2017</span>
                    </div>
                    <!-- /.testimonial info -->
                </div>
            </div>
        </div>
        <div class="row mb60">
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="testimonial-info">
                        <!-- testimonial info -->
                        <p class="testimonial-content">Bardzo dziękuję Pani doktor Czarneckiej za pomoc - zlecenie
                            właściwego badania i trafne odczytanie EKG ( choroba Brugadów ). Ta młoda sympatyczna
                            lekarka nie "olała" pacjenta, młodego człowieka i jego dolegliwości, podjęła właściwą
                            decyzję - szpital. Już był w Miejskim Szpitalu i czeka go wizyta w Ochojcu. Życzę Pani
                            Doktor aby po wielu latach pracy w tym zawodzie była nadal dokładną i czujną lekarka, być
                            może to, że chciała pomyśleć nad moim synem uratuje mu zdrowie i życie. Dziękuję ;)</p>
                        <span class="testimonial-text">- Lucyna W.</span> <br>
                        <!--                    <span class="testimonial-meta">28 marca 2017</span>-->
                    </div>
                    <!-- /.testimonial info -->
                </div>
                <div class="col-md-4">
                    <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="testimonial-info">
                        <!-- testimonial info -->
                        <p class="testimonial-content">Mogę powiedzieć tylko to że dzięki Pani Doktor dowiedziałam się
                            co mi jest, teraz jestem już pod opieką onkologa, bardzo dziękuje Pani Doktor, wspaniały
                            człowiek jako lekarz, najlepszy jakiego mogłam spotkać na swej drodze, jeszcze raz dziękuje
                            Pani Doktor.</p>
                        <span class="testimonial-text">- Bożena</span> <br>
                        <span class="testimonial-meta">25 lipca 2017</span>
                    </div>
                    <!-- /.testimonial info -->
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/core_fragments.html :: footer"></div>
</body>
</html>