<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description"
          content="Are you small and local cardiology clinic and hospital? Download our free website template for your cardiology website template. Its Free!">
    <meta name="keywords" content="medical website templates bootstrap,medical website templates free download,medical website templates free, cardiology website templates,cardiology website design,cardiology websites for doctors,cardiology website templates free,
veterinary cardiology website, pediatric cardiology website">
    <title>Cardiology | Free Bootstrap Responsive Website Templates</title>
    <!-- Bootstrap -->
    <!--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" >-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--  <link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.0.7/css/all.css}"/>-->

    <!--  <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}"/>  -->


    <!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animsition.min.css}"/>
    <!--<link rel="stylesheet" type="text/css" href="css/animsition.css">-->
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"/>
    <!--<link href="css/font-awesome.min.css" rel="stylesheet">-->
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="animsition">
<div class="top-header"><!-- top header -->
    <div class="container">
        <div class="row">

            <!--      <a class="logo" href="index.html"> <img th:src="@{/images/logoBAK.png}" alt=""/></a>-->
            <!--      <div class="col-md-3 col-sm-12"><a class="logo" href="index.html"><img src="images/logoBAK.png" alt=""></a> </div>-->
            <div class="col-md-3 col-sm-12"><a class="logo" href="index.html"> <img
                    th:src="@{images/logostrefaserca.jpg}" alt=""/></a></div>
            <div class="col-md-9 hidden-sm hidden-xs">
                <div class="top-link">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-clock-o"></i>Mon to sat: 10:00am to 6:00pm
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-phone"></i> <a href="cantact-us.html">+91 123 4567 789</a>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-envelope-o"></i> <a href="cantact-us.html">info@cardio.com</a>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-sign-in"></i> <a href="cantact-us.html">Zaloguj się</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- top header -->
<div class="page-header">
    <!-- page header -->
    <div class="">
        <!-- navigation-transparent -->
        <div class="header">
            <!-- navigation -->
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12">
                        <div id="navigation" class="navigation">
                            <ul>
                                <li class="active"><a th:href="@{/index}" title="Home" class="animsition-link">Home</a>
                                </li>
                                <li><a href="service-list.html" title="Service" class="animsition-link">Service List</a>
                                    <ul>
                                        <li><a href="service-list.html" title="Service List">Service List</a></li>
                                        <li><a href="service-detail.html" title="Service Detail">Service Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html" title="Blog" class="animsition-link">Blog</a>
                                    <ul>
                                        <li><a href="blog.html" title="Blog" class="animsition-link">Blog</a></li>
                                        <li><a href="blog-single.html" title="Blog Single" class="animsition-link">Blog
                                            Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html" title="Contact Us" class="animsition-link">Contact Us</a>
                                </li>
                                <li><a href="testimonials.html" title="Testimonials" class="animsition-link">Testimonials</a>
                                </li>
                                <li><a href="typography.html" title="Style Guide" class="animsition-link">style
                                    guide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-sm hidden-xs navigation-search">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.navigation -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="page-caption">
                    <h1 class="page-title">Zawał serca</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="content-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="post-holder mb40">
                                <div class="post-img mb30"><img th:src="@{/static/images/blog/main-img-1.jpg}" alt=""
                                                                class="img-responsive"></div>
                                <div class="post-block">
                                    <div class="post-header mb20">
                                        <h1 class="post-title mb30">Zawał serca - czym jest?</h1>
                                        <div class="post-meta">
                                            <!-- post meta -->
                                            <span class="meta-date"><i
                                                    class="fa fa-calendar"></i> August 24, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comments"></i> <a href="#"
                                                                                                         class="meta-link">05 Comment </a></span>
                                        </div>
                                        <!-- /.post meta -->
                                    </div>
                                    <hr>
                                    <div class="post-content">
                                        <p style="text-align: justify">Zawał serca jest jedną z najczęstszych przyczyn
                                            zgonów w Polsce, warto zatem zastanowić się, czym jest zawał, jakie są jego
                                            objawy i co możemy zrobić żeby się przed nim uchronić.
                                            Serce jest mięśniem, którego funkcją jest pompowanie krwi w organizmie. Do
                                            prawidłowego działania potrzebne jest jego właściwe ukrwienie. Serce
                                            oplecione jest siecią naczyń krwionośnych, które dostarczają potrzebnych do
                                            jego funkcjonowania składników odżywczych. Są to tętnice wieńcowe. Zawał
                                            jest spowodowany zamknięciem jednej z tętnic oplatających serce. W obszarze
                                            mięśnia sercowego, do którego nie dopływa krew, dochodzi do obumierania
                                            komórek serca. Skutki takiego niedokrwienia będą zależeć od tego jak długo
                                            tętnica jest zamknięta, od jej wielkości i miejsca, w którym się zamknęła. Z
                                            każdą minutą powiększa się obszar „martwego” serca, w przyszłości w tym
                                            miejscu wytworzy się blizna pozawałowa. Będzie to miejsce, w którym mięsień
                                            sercowy nie będzie się kurczył prawidłowo, może to być przyczyną powstania
                                            niewydolności serca. Dlatego bardzo ważna jest natychmiastowa reakcja w
                                            trakcie pierwszych objawów zawału, transport do ośrodka kardiologii
                                            inwazyjnej i szybkie otworzenie zamkniętej tętnicy. Zawał serca jest stanem
                                            bezpośredniego zagrożenia życia. W trakcie zawału największym zagrożenie dla
                                            pacjentów są zaburzenia rytmu, takie jak migotanie komór, powodujące
                                            zatrzymanie pracy serca. </p>
                                        <h2 class="mb30">Jakie są jego objawy? Jak się zachować, jeśli mamy podejrzenie,
                                            że ktoś z naszych domowników/osoba spotkana na ulicy, miał zawał?</h2>
                                        <blockquote>
                                            <p>Nasz niepokój powinien wzbudzić silny, nagły ból w klatce piersiowej.
                                                Dolegliwości bólowe pojawiają się pod postacią ucisku, gniecenia lub
                                                pieczenia za mostkiem. </p>
                                        </blockquote>
                                        <p class="mb30" style="text-align: justify">Kiedy możemy podejrzewać zawał serca?
                                            Nasz niepokój powinien wzbudzić silny, nagły ból w klatce piersiowej.
                                            Dolegliwości bólowe pojawiają się pod postacią ucisku, gniecenia lub
                                            pieczenia za mostkiem. Może im towarzyszyć promieniowanie do lewego barku,
                                            ramienia, pleców, szyi i żuchwy. W trakcie zawału dolegliwości te nie
                                            przemijają po odpoczynku i zażyciu nitrogliceryny. Niestety, nie zawsze
                                            zawał serca przebiega w tak spektakularny sposób. Odczuwane dolegliwości
                                            mogą mieć mniejsze nasilenie lub objawiać się w nietypowy sposób, na
                                            przykład opasającymi bólami w nadbrzuszu. U pacjentów z cukrzycą alarmujący
                                            ból może nie pojawić się w ogóle, głównym objawem będzie duszność. Pacjent z
                                            zawałem jest blady, spocony, odczuwa silny niepokój i lęk. Jeśli obserwujemy
                                            objawy mogące sugerować zawał serca powinniśmy zawiadomić zespół Pogotowia
                                            Ratunkowego. Już w karetce ratownicy medyczni po wykonaniu EKG mogą postawić
                                            prawidłowe rozpoznanie. </p>
                                        <h2 class="mb30">Leki i leczenie zabiegowe. Jakie działania podejmują
                                            specjaliści po stwierdzonym zawale?</h2>
                                        <p style="text-align: justify">Pacjent z rozpoznanym zawałem serca jest
                                            bezpośrednio transportowany do oddziału kardiologii inwazyjnej. Powiadomiony
                                            przez ratowników zespół w pracowni hemodynamicznej czeka już gotowości na
                                            przyjęcie pacjenta. Czas interwencji ma istotne znaczenie dla dalszego
                                            rokowania. Na sali zabiegowej znajduje się angiograf, który za pomocą
                                            promieniowania rentgenowskiego pozwala uwidocznić tętnice wieńcowe
                                            wypełnione specjalnym kontrastem. W ten sposób można znaleźć miejsce
                                            przewężenia lub zamknięcia w tętnicy. Lekarz wprowadza do tętnicy cienki
                                            drucik, na którym umieszczony jest mały balon. Poprzez rozprężenie balonika,
                                            próbuje się udrożnić chorą tętnicę. Następnie w to miejsce wprowadza się
                                            stent, można go przyrównać do małej sprężynki z długopisu. Rozprężony w
                                            tętnicy stent, stanowi rusztowanie zapewniające prawidłowy przepływ w
                                            naczyniu. Możemy spotkać się z określeniem stentów metalowych oraz stentów
                                            lekowych, takich, które uwalniają ze swojej powierzchni substancje mające
                                            zapobiegać zarastaniu tętnicy w miejscu wszczepionego stentu. Stosuje się
                                            również stenty biodegradowalne, stworzone z polimeru, który z czasem
                                            zupełnie zniknie ze światła naczynia.
                                            Gdy najbliższy ośrodek kardiologii inwazyjnej znajduje się daleko i
                                            niemożliwy jest szybki transport pacjenta, stosuje się specjalne leki, które
                                            mają za zadanie rozpuścić zakrzep w tętnicy wieńcowej. Leczenie zawału serca
                                            tą metodą stanowi mniej niż jeden procent wszystkich przypadków.</p>


                                        <img th:src="@{/images/blog/blog-post-1-2.jpg}" alt=""
                                             class="alignright img-responsive">
                                        <h3>Zdjęcie nr.1</h3>
                                        <p class="mb30" >Zamknięcie gałęzi zstępującej przedniej lewej tętnicy wieńcowej
                                            u 84 pacjentki. Na zdjęciu można zauważyć prowadnicę hemodynamiczną
                                            przeprowadzoną poniżej okluzji w tętnicy.</p>
                                        <!--                                        <img  src="images/left-img.jpg" alt="" class="alignleft img-responsive">-->
                                        <br>
                                        <br>
<!--                                        <br>-->
                                        <h2>Jak powinna przebiegać rehabilitacja pozawałowa?</h2>

                                        <!--                                        <h3>Left Image Align</h3>-->
                                        <p class="mt30" style="text-align: justify">Pierwszy etap rehabilitacji rozpoczyna
                                            się już w szpitalu, pacjenci wykonują ćwiczenia oddechowe i gimnastykę w
                                            obrębie łóżka.
                                            Pierwsze tygodnie po zawale serca mają istotne znaczenie dla gojenia się
                                            mięśnia sercowego.
                                            Po zawale pacjenci są kierowani do oddziałów rehabilitacji kardiologicznej w
                                            szpitalach sanatoryjnych. W trakcie trzech tygodni nie tylko odbywają
                                            rehabilitację ruchową, ale otrzymują możliwość zdobycia wiedzy na temat
                                            zdrowego stylu życia i prawidłowego odżywiania. Rehabilitacja skraca okres
                                            rekonwalescencji, pomaga w szybkim powrocie do aktywności zawodowej oraz
                                            pełni formę wsparcia psychologicznego.</p>
                                        <h2 class="mt30">Jak  przedstawia się sytuacja w Polsce?</h2>
                                        <p class="mt30" style="text-align: justify">W ostatnich kilkunastu latach w Polsce
                                            dokonał się ogromny postęp w leczeniu zawału serca. Powstała sieć pracowni
                                            hemodynamicznych, w których jest możliwość zabiegowego otwarcia zamkniętej
                                            tętnicy w krótkim czasie. Dzięki zwiększeniu się liczby oddziałów
                                            kardiologii inwazyjnej, śmiertelność spadła kilkukrotnie. Według danych
                                            przeanalizowanych przez Narodowy Instytut Zdrowia Publicznego –PZH, w 2012
                                            roku prawie 80 tyś. pacjentów było leczonych w szpitalu z powodu zawału
                                            serca. W oddziałach posiadających pracownie hemodynamiczną śmiertelność
                                            wyniosła 6%. Ponad dwukrotnie wyższą śmiertelność obserwowano w przypadkach,
                                            w których nie było dostępu do leczenia inwazyjnego. Roczna śmiertelność po
                                            wypisaniu ze szpitala wynosi w Polsce ok. 10%, 3 letnia - 20%. Co oznaczają
                                            te liczby dla nas? Polska na tle innych krajów Europejskich może pochwalić
                                            się sukcesem w leczeniu zawału serca, a my możemy być pewni, że jesteśmy
                                            leczeni według tych samych wysokich standardów i zastosowaniem najnowszych
                                            dostępnych metod. </p>
<!--                                        th:src="@{/images/blog/blog-post-1-3.jpg}"-->
                                        <img   alt=""
                                             class="alignleft img-responsive" src="/images/blog/blog-post-1-3.jpg" >
                                        <h3>Zdjęcie nr.2</h3>
                                        <p class="mb30">Obraz tętnicy po udrożnieniu i założeniu stentu.</p>
                                        <br><br><br><br><br>


                                        <!--                                        <div>dsf</div>-->
                                        <h2>Jak możemy się przed nim bronić? </h2>
                                        <blockquote class="mt30">
                                            <p>Przestać palić papierosy, zdrowo się odżywiać, uprawiać aktywny tryb
                                                życia, kontrolować ciśnienie tętnicze oraz przestrzegać zaleceń
                                                lekarskich odnośnie przyjmowanych leków i kontrolnych badań.</p>
                                        </blockquote>
                                        <p class="mt30" style="text-align: justify">W ostatnich kilkunastu latach w Polsce
                                            dokonał się ogromny postęp w leczeniu zawału serca. Powstała sieć pracowni
                                            hemodynamicznych, w których jest możliwość zabiegowego otwarcia zamkniętej
                                            tętnicy w krótkim czasie. Dzięki zwiększeniu się liczby oddziałów
                                            kardiologii inwazyjnej, śmiertelność spadła kilkukrotnie. Według danych
                                            przeanalizowanych przez Narodowy Instytut Zdrowia Publicznego –PZH, w 2012
                                            roku prawie 80 tyś. pacjentów było leczonych w szpitalu z powodu zawału
                                            serca. W oddziałach posiadających pracownie hemodynamiczną śmiertelność
                                            wyniosła 6%. Ponad dwukrotnie wyższą śmiertelność obserwowano w przypadkach,
                                            w których nie było dostępu do leczenia inwazyjnego. Roczna śmiertelność po
                                            wypisaniu ze szpitala wynosi w Polsce ok. 10%, 3 letnia - 20%. Co oznaczają
                                            te liczby dla nas? Polska na tle innych krajów Europejskich może pochwalić
                                            się sukcesem w leczeniu zawału serca, a my możemy być pewni, że jesteśmy
                                            leczeni według tych samych wysokich standardów i zastosowaniem najnowszych
                                            dostępnych metod. </p>


                                        <hr>
                                        <div class="related-post mb40">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 mb50">
                                                    <h2 class="related-post-title">Related Post</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="related-img mb20">
                                                        <a href="#"><img src="images/related-post-1.jpg" alt=""
                                                                         class="img-responsive"></a>
                                                    </div>
                                                    <div class="related-post-content">
                                                        <h3 class="related-title"><a href="#" class="">Medication
                                                            Management and Heart Disease</a></h3>
                                                        <div class="post-meta"><span class="meta-cat">in<a href="#"
                                                                                                           class=""> “DIAGNOSTIC cardiology”</a> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="related-img mb20">
                                                        <a href="#"><img src="images/related-post-2.jpg" alt=""
                                                                         class="img-responsive"></a>
                                                    </div>
                                                    <div class="related-post-content">
                                                        <h3 class="related-title"><a href="#" class="">Methods of the
                                                            recruitment</a></h3>
                                                        <div class="post-meta"><span class="meta-cat">in <a href="#"
                                                                                                            class="">“Commercial”</a> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="post-navigation mb40">
                                            <!-- post navigation -->
                                            <div class="row">
                                                <div class="nav-links">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="nav-previous"><a href="#"
                                                                                     class=" btn-link prev-link mb30">previous
                                                            post</a>
                                                            <h3 class="related-title"><a href="#" class="">Medication
                                                                Management and<br> Heart Disease</a></h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="nav-next text-right"><a href="#"
                                                                                            class="btn-link next-link mb30">next
                                                            post</a>
                                                            <h3 class="related-title"><a href="#" class="">The
                                                                Importance of Good Medication<br>Management</a></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="mb30">Author Post</h2>
                                        <div class="author-post mb40 pinside30 bg-light">
                                            <!-- post author -->
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="author-img">
                                                        <a href="#"><img src="images/author.jpg" class="img-responsive"
                                                                         alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="author-bio">
                                                        <div class="author-header">
                                                            <h3 class="mb0"><a href="#" class="title">John Deo</a>
                                                                <span class="author-meta">(Author)</span>
                                                            </h3>
                                                        </div>
                                                        <div class="author-social">
                                                            <a href=""><i class="fa fa-facebook-square"></i></a>
                                                            <a href=""><i class="fa fa-twitter-square"></i></a>
                                                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                                                        </div>
                                                        <hr>
                                                        <div class="author-content">
                                                            <p>Vestibulum vestibulum purus ante, nec facilisis augue
                                                                ultricies in lorem Curabitur aliquam ac elit Nam
                                                                aliqtempus feliset auctor erat u sagittis finelit ut
                                                                lorem feugiat ultrices. </p>
                                                            <a href="#" class="btn-link">View All Post</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comments-area mb40">
                                            <h2 class="comments-title mb40">(4) Comments</h2>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="">
                                                            <div class="comment-author"><img src="images/user-pic-1.jpg"
                                                                                             alt="" class=""></div>
                                                            <div class="comment-info">
                                                                <div class="comment-header">
                                                                    <h4 class="user-title mb10">Sophie Willmore</h4>
                                                                    <div class="comment-meta"><span
                                                                            class="comment-meta-date">25 April, 2017</span>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Curabitur sagittis elit ut lorem feugiat
                                                                        ultrices. Maecenas venenatis felis quis metus
                                                                        tincidunt, dignissim aliquet lorem iaculis.
                                                                        Integer a vestibulu.</p>
                                                                </div>
                                                                <div class="reply"><a href="#"
                                                                                      class="btn-link">Reply</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <hr>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="">
                                                            <div class="comment-author"><img src="images/user-pic-2.jpg"
                                                                                             alt="" class=""></div>
                                                            <div class="comment-info">
                                                                <div class="comment-header">
                                                                    <h4 class="user-title mb10">Brock Lambrick</h4>
                                                                    <div class="comment-meta"><span
                                                                            class="comment-meta-date">25 April, 2017</span>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Aliquam quis ante euismod, ultricies urna sed,
                                                                        sodales justo. Class aptent taciorem ipsum
                                                                        sociosqu ad litora torquent per conubia nostra,
                                                                        per inceptos himenaeos.</p>
                                                                </div>
                                                                <div class="reply"><a href="#"
                                                                                      class="btn-link">Reply</a></div>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="childern listnone">
                                                        <li class="comment">
                                                            <div class="comment-body">
                                                                <div class="">
                                                                    <div class="comment-author"><img
                                                                            src="images/user-pic-3.jpg" alt="" class="">
                                                                    </div>
                                                                    <div class="comment-info">
                                                                        <div class="comment-header">
                                                                            <h4 class="user-title mb10">Martin
                                                                                Morris</h4>
                                                                            <div class="comment-meta"><span
                                                                                    class="comment-meta-date">25 April, 2017</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="comment-content">
                                                                            <p>Pellentesque euismod velit id accumsan
                                                                                maximus. Sed interdum ut est non
                                                                                viverraper rho ipsum doloreu tristique
                                                                                diam. </p>
                                                                        </div>
                                                                        <div class="reply"><a href="#" class="btn-link">Reply</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <hr>
                                                </li>
                                            </ul>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="">
                                                            <div class="comment-author"><img src="images/user-pic-4.jpg"
                                                                                             alt="" class=""></div>
                                                            <div class="comment-info">
                                                                <div class="comment-header">
                                                                    <h4 class="user-title mb10">Claudia Purves</h4>
                                                                    <div class="comment-meta"><span
                                                                            class="comment-meta-date">25 April, 2017</span>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Nunc cursus leo risus non ac efficitur vel sed
                                                                        Mauris iaculis finibus ex lorem viverraliquam
                                                                        blandi volutpat vivamus auctor magna eu velit
                                                                        suscipit</p>
                                                                </div>
                                                                <div class="reply"><a href="#"
                                                                                      class="btn-link">Reply</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="leave-comments outline pinside30">
                                <h2 class="reply-title">Leave a Reply</h2>
                                <form class="reply-form">
                                    <div class="row">
                                        <!-- Textarea -->
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="textarea">Comments</label>
                                                <textarea class="form-control" id="textarea" name="textarea"
                                                          rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label" for="name">Name</label>
                                                <span class="required">*</span>
                                                <input id="name" name="name" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label" for="email">E-mail</label>
                                                <span class="required">*</span>
                                                <input id="email" name="email" type="text" class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label" for="Subject">Subject</label>
                                                <span class="required">*</span>
                                                <input id="Subject" name="Subject" type="text" class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <!-- Button -->
                                            <div class="form-group">
                                                <button id="singlebutton" name="singlebutton" class="btn btn-default">
                                                    Leave A Comment
                                                </button>
                                                <span class="required pull-right">* Field Are Required</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="sidebar-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="widget widget-search pinside30 outline mb40">
                                <h2 class="widget-title mb30">Searchbar</h2>
                                <hr>
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Here"
                                               aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2"> <i class="fa fa-search"></i></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class=" widget widget-categories pinside30">
                                <h2 class="widget-title">Categories</h2>
                                <hr>
                                <ul class="listnone bullet bullet-angle-right mb0">
                                    <li><a href="#">Diagnostic Cardiac</a></li>
                                    <li><a href="#">Vascular Dignostic</a></li>
                                    <li><a href="#">Invasive Procedures</a></li>
                                    <li><a href="#">Vein Clinic Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class=" widget widget-archives pinside30 mb40">
                                <h2 class="widget-title">Archives</h2>
                                <hr>
                                <ul class="listnone bullet bullet-angle-right mb0">
                                    <li><a href="#">February (2017)</a></li>
                                    <li><a href="#">December (2016)</a></li>
                                    <li><a href="#">July (2016)</a></li>
                                    <li><a href="#">January (2016)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="widget widget-recent-post pinside30 mb40">
                                <h2 class="widget-title">Recent post</h2>
                                <hr>
                                <div class="recent-block mb20">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5">
                                            <div class="recent-pic">
                                                <a href="#"><img src="images/recent-pic1.jpg" class="img-responsive"
                                                                 alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-7">
                                            <h3 class="recent-title mb10"><a href="#" class="title">Medication
                                                Management and Heart Disease</a></h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i
                                                        class="fa fa-calendar"></i> 25 April, 2017 </span></div>
                                            <!-- /.post meta -->
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-block mb20">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5">
                                            <div class="recent-pic">
                                                <a href="#"><img src="images/recent-pic2.jpg" class="img-responsive"
                                                                 alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-7">
                                            <h3 class="recent-title mb10"><a href="#" class="title">Medication
                                                Management and Heart Disease</a></h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i
                                                        class="fa fa-calendar"></i> 25 April, 2017 </span></div>
                                            <!-- /.post meta -->
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-block mb20">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5">
                                            <div class="recent-pic">
                                                <a href="#"><img src="images/recent-pic3.jpg" class="img-responsive"
                                                                 alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-7">
                                            <h3 class="recent-title mb10"><a href="#" class="title">The Importance of
                                                Good Medication Management</a></h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i
                                                        class="fa fa-calendar"></i> 25 April, 2017 </span></div>
                                            <!-- /.post meta -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <!--  tags -->
                            <div class="widget widget-tags mb40">
                                <h2 class="widget-title">Tags</h2>
                                <hr>
                                <!-- widget title -->
                                <a href="#" title="Dignosis">Dignosis</a> <a href="#" title="Cardiac">Cardiac</a> <a
                                    href="#" title="Clinic">Clinic</a> <a href="#" title="Invasive Procedured">Invasive
                                Procedured</a> <a href="#" title="Vascular">Vascular</a> <a href="#" title="Cardiac">Cardiac</a>
                                <a href="#" title="medical">medical</a></div>
                            <!-- /.widget well bg -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer section-space60">
    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="footer-widget"><!-- footer-widget -->
                    <div class="footer-logo mb30"><img src="images/ft-logo.png" alt="" class=""></div>
                    <address><i class="fa fa-map-marker"></i>
                        873 Fleming Way<br>
                        Richmond, VA 23228
                    </address>
                    <ul class="listnone contact">
                        <li><i class="fa fa-phone"></i>800-123-456</li>
                        <li><i class="fa fa-envelope-o"></i>Info@architectural.com</li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Services</h3>
                    <ul class="listnone bullet bullet-angle-right mb0">
                        <li><a href="service-detail.html" title="Diagnostic Cardiac">Diagnostic Cardiac</a></li>
                        <li><a href="service-detail.html" title="Vascular Dignostic">Vascular Dignostic</a></li>
                        <li><a href="service-detail.html" title="Invasive Procedures">Invasive Procedures</a></li>
                        <li><a href="service-detail.html" title="Heart Conditions Treated">Heart Conditions Treated</a>
                        </li>
                        <li><a href="service-detail.html" title="Vein Clinic Services">Vein Clinic Services</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Pages</h3>
                    <ul class="listnone bullet bullet-angle-right mb0">
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li><a href="service-list.html" title="Services">Services</a></li>
                        <li><a href="blog.html" title="Blog">Blog</a></li>
                        <li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
                        <li><a href="testimonials.html" title="Testimonilas">Testimonilas</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="footer-widget"><!-- footer-widget -->
                    <h3 class="footer-title">Newsletter</h3>
                    <p>Subscribe to our newsletter to get the latest
                        news to your inbox.</p>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <span class="input-group-btn">
        <button class="btn btn-default" type="button">subscribe</button>
      </span>
                        </div>
                    </form>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
</div>
<!-- /.footer -->
<div class="tiny-footer"><!-- tiny-footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <p>Cardio © 2016 | Privacy Policy</p>
            </div>
        </div>
    </div>
</div>
<!-- /.tiny-footer -->
<!-- back to top icon -->
<a href=" #0 " class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<!--<script src="js/bootstrap.min.js"></script> -->
<script th:src="@{/js/menumaker.js}" type="text/javascript"></script>
<!--<script src="js/menumaker.js"></script>-->
<script type="text/javascript">
    $("#navigation").menumaker({
        title: "Menu",
        format: "multitoggle"
    });
</script>

<!-- animsition -->
<script th:src="@{/js/animsition.js}" type="text/javascript"></script>
<!--<script type="text/javascript" src="js/animsition.js"></script> -->
<script th:src="@{/js/animsition-script.js}" type="text/javascript"></script>
<!--<script type="text/javascript" src="js/animsition-script.js"></script>-->
<!-- sticky header -->
<script th:src="@{/js/jquery.sticky.js}" type="text/javascript"></script>
<!--<script type="text/javascript" src="js/jquery.sticky.js"></script> -->
<script th:src="@{/js/sticky-header.js}" type="text/javascript"></script>
<!--<script type="text/javascript" src="js/sticky-header.js"></script>  -->

<!-- Back to top script -->
<script th:src="@{/js/back-to-top.js}" type="text/javascript"></script>
<!--<script src="js/back-to-top.js" type="text/javascript"></script> -->
</body>
</html>